{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/imgfavicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/imgfavicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/imgfavicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/imgfavicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/imgfavicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/imgfavicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/imgfavicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/imgfavicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/imgfavicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/imgfavicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/imgfavicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/imgfavicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/imgfavicon/favicon-16x16.png" %}">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->

    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="{% static "home/css/styles.css" %}">
    <link rel="stylesheet" media="screen" href="{% static "home/css/vendor.min.css" %}">
    <!-- Modernizr-->
    <script src="{% static "home/js/modernizr.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <!-- Body-->
  <body>
    
    {% block modal %}

      {% endblock %}

    {% include "home/parts/header.html" %}

    <div class="offcanvas-wrapper">
      {% block content %}

      {% endblock %}

      {% include "home/parts/footer.html" %}

    </div>
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="{% static 'home/js/vendor.min.js' %}"></script>
    <script src="{% static 'home/js/scripts.min.js' %}"></script>
    <script>
$('#suscribe_btn').click(function(event){

  event.preventDefault(); 
    
  var nombre = document.getElementById("name").value;
  var email = document.getElementById("email").value;

  if (nombre=="" || email ==""){
    document.getElementById("msj-error").innerHTML = "Formulario invalido, ingrese sus datos en los campos."
  }else{  
    document.getElementById('suscribe_btn').disabled = true;

      $.ajax({
               type: "POST",
               url: "{% url 'suscribe_newsletter' %}",
               data: {'name' : name, 'email': email, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    
                    setTimeout(function(){
                        document.getElementById("msj").innerHTML = response.message;
                        document.getElementById("msj-error").innerHTML = "";
                    }, 1000);
                      
                      
                      
                },
                error: function(rs) {
                    document.getElementById("msj").innerHTML = rs.responseText;
                      
                }
          }); 
  }
 
    })
</script>
  </body>

  </html>
