<!DOCTYPE html>{% load static %}{% load humanize %}
<html lang="es">
<head>
  <meta charset="UTF-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{% static "home/css/style.css" %}">
  <script src="{% static "home/js/modernizr.min.js" %}"></script>

  <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/img/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/img/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/img/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/img/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/img/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/img/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/img/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/img/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/img/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/img/favicon/favicon-16x16.png" %}">
</head>
<body> 

	{% include "home/parts/header.html" %}

    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Contactos</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Contactos</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-2x mb-2">
        <div class="row">
          <div class="col-md-7">
            <div class="display-3 text-muted opacity-75 mb-30">Atención al cliente</div>
          </div>
          <div class="col-md-5">
            <ul class="list-icon">
              <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:customer.service@unishop.com">clientes@biocompras.com</a></li>
              <li> <i class="icon-bell"></i>+1(080) 44 357 260</li>
              <li> <i class="icon-clock"></i>1 - 2 business days</li>
            </ul>
          </div>
        </div>
        <hr class="margin-top-2x">
        <div class="row margin-top-2x">
          <div class="col-md-7">
            <div class="display-3 text-muted opacity-75 mb-30">Tech Support</div>
          </div>
          <div class="col-md-5">
            <ul class="list-icon">
              <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:support@unishop.com">support@unishop.com</a></li>
              <li> <i class="icon-bell"></i>00 33 169 7720</li>
              <li> <i class="icon-clock"></i>1 - 2 business days</li>
            </ul>
          </div>
        </div>
        <h3 class="margin-top-3x text-center mb-30">Outlet Stores</h3>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
              <div class="google-map" data-height="250" data-address="514 S. Magnolia St. Orlando, FL 32806, USA" data-zoom="15" data-disable-controls="true" data-scrollwheel="false" data-marker="img/map-marker.png" data-marker-title="We are here!" data-styles="[{&quot;featureType&quot;:&quot;administrative.country&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;},{&quot;hue&quot;:&quot;#ff0000&quot;}]}]"></div>
              <div class="card-body">
                <ul class="list-icon">
                  <li> <i class="icon-map"></i>514 S. Magnolia St. Orlando, FL 32806, USA</li>
                  <li> <i class="icon-bell"></i>+1(786) 322 560 40</li>
                  <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:orlando.store@unishop.com">orlando.store@unishop.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
              <div class="google-map" data-height="250" data-address="44 Shirley Ave. West Chicago, IL 60185, USA" data-zoom="15" data-disable-controls="true" data-scrollwheel="false" data-marker="img/map-marker.png" data-marker-title="We are here!" data-styles="[{&quot;featureType&quot;:&quot;administrative.country&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;},{&quot;hue&quot;:&quot;#ff0000&quot;}]}]"></div>
              <div class="card-body">
                <ul class="list-icon">
                  <li> <i class="icon-map"></i>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                  <li> <i class="icon-bell"></i>+1(847) 252 765 33</li>
                  <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:chicago.store@unishop.comm">chicago.store@unishop.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="card mb-30">
              <div class="google-map" data-height="250" data-address="89 Clinton Dr. Holbrook, NY 11741, USA" data-zoom="13" data-disable-controls="true" data-scrollwheel="false" data-marker="img/map-marker.png" data-marker-title="We are here!" data-styles="[{&quot;featureType&quot;:&quot;administrative.country&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;},{&quot;hue&quot;:&quot;#ff0000&quot;}]}]"></div>
              <div class="card-body">
                <ul class="list-icon">
                  <li> <i class="icon-map"></i>89 Clinton Dr. Holbrook, NY 11741, USA</li>
                  <li> <i class="icon-bell"></i>+1(212) 477 690 000</li>
                  <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:newyork.store@unishop.com">newyork.store@unishop.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Site Footer-->
      {% include "home/parts/footer.html" %}
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>

	<script src="js/card.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/scripts.min.js"></script> 
	<script src="js/vendor.min.js"></script>
</body>