<!DOCTYPE html>{% load static %}{% load humanize %}
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{% static "home/css/style.css" %}">

  <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/img/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/img/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/img/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/img/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/img/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/img/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/img/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/img/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/img/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/img/favicon/favicon-16x16.png" %}">
</head>
<body>
  {% include "home/parts/header.html" %}

    <div class="offcanvas-wrapper">
      {% if promociones %}     
      <section class="wpublicidad hero-slider">

        <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 3000 }">

            {% for promo in promociones  %}
            <div class="item">

              <div class="row">

                <div class="col-xl-10 col-lg-12">
                  <div class="fw-section rounded" style="background-image: url({{promo.bg_img.url}});">
                    <span class="overlay rounded" style="opacity: .5;"></span> 

                    <div class="text-center publicidad">

                      <h4 class="display-8 text-normal text-white text-shadow mb-1">{{promo.text1}}</h4>
                      <h3 class="display-4 text-bold text-white text-shadow">{{promo.text2}}</h3>
                      <h6 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0">{{promo.text3}}</h6>
                      <a class="btn btn-show-details margin-bottom-none" href="{{promo.url_btn}}">{{promo.msj_btn}}</a>
                    </div>

                  </div>

                </div>

              </div>

            </div>             
            {% endfor %}

          </div>

    </section>
    {% endif %}

		<section class="hero-slider" style="background-image: url({% static 'home/img/backgrounds/1.jpg' %});">

        <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
          {% for producto in productos_destacados_1  %}
          <div class="item">

            <div class="container padding-top-3x">

              <div class="row justify-content-center align-items-center spc-top">

                <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">

                   <div class="from-bottom">

                    <div class="h2 text-normal mb-2 pt-1">{{producto.name}}</div>
                    <div class="h4 text-normal">{{producto.short_description}}</div>
                    <div class="h2 text-normal mb-4 pb-1"> <span class="text-bold">$ {{producto.price.price__min|intcomma}} COP</span></div>
                  </div>
                  <a class="btn btn-show-details scale-up delay-1" href="{% url 'product_detail' producto.id %}">VER DETALLES <i class="icon-arrow-right" style="margin-bottom: 4px"></i></a>

                </div>

                <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="{{producto.img_url}}" alt="Mana Product"></div>

              </div>

            </div>

          </div>
          {% endfor %}  

		    </div>

      </section>

      <section class="container padding-top-3x padding-bottom-1x">

        <div class="wcontainer">

          <h5 class="text-uppercase padding-top-1x mt-1">
            Bio-Productos Destacados
          </h5>

          <br>

          <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 40, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:2},&quot;1200&quot;:{&quot;items&quot;:2}} }">

            {% for producto in productos_destacados_1  %}
            <!-- Product-->
            <div class="grid-item">

              <div class="product-card">

                  <a class="product-thumb" href="{% url 'product_detail' producto.id %}"><img src="{{producto.img_url}}" alt="Product"></a>

                <h3 class="product-title"><a href="{% url 'product_detail' producto.id %}">{{producto.name}}</a></h3>

                <h4 class="product-price">$ {{producto.price.price__min|intcomma}} COP</h4>

                <div class="product-buttons">
                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>

                  <button class="btn btn-show-details-o btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">
                <i class="icon-bag" style="margin-bottom: 4px"></i>
              AÑADIR A LA BOLSA
                </button>

                </div>

              </div>

            </div>
            {% endfor %}

          </div>

        </div>

      </section>

      <section class="container padding-top-1x padding-bottom-3x">

      <h5 class="text-uppercase padding-top-1x mt-1">
        Bio-Productos Recomendados
      </h5>

      <br>

        <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
          
          {% for producto in productos_destacados_1 %}
          <!-- Product-->
          <div class="grid-item">

            <div class="product-card">

              <a class="product-thumb" href="{% url 'product_detail' producto.id %}"><img src="{{producto.img_url}}" alt="Product"></a>

              <h3 class="product-title"><span class="badge badge-warning badge-pill">RECOMENDADOS</span><br><a href="https://trello-attachments.s3.amazonaws.com/5a2f9f5e3f604650620c469f/5a3b2c52e3feaa2330ee178a/c2f9d3dc01228e1e6be62eed1199e1f0/shop-single.html">{{producto.name}}</a></h3>

              <h4 class="product-price">$ {{producto.price.price__min|intcomma}} COP</h4>

              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>

                <a href="{% url 'product_detail' productos_destacados_1.0.id %}"><button class="btn btn-show-details-o btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">
                <i class="icon-bag" style="margin-bottom: 4px"></i> VER PRODUCTO
                </button></a>

              </div>

            </div>

          </div>
          {% endfor %}

        </div>

    </section>

      <section class="bg-secondary padding-top-2x padding-bottom-3x">

      <div class="container">

        <h5 class="text-uppercase padding-top-1x mt-1">
          Últimas publicaciones
        </h5>

        <br>

        <div class="wdestacados">
            <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:1},&quot;991&quot;:{&quot;items&quot;:2},&quot;1200&quot;:{&quot;items&quot;:2}} }">              
            {% for post in publicaciones %}
              <div class="wbigdestacado">
                <div class="card mb-30"><a class="card-img-tiles" href="{% url 'single_post' post.slug %}">
                    <div class="inner">
                      <div class="main-img"><img src="{{post.imagen.url}}" class="img img-responsive" alt="Category"></div>
                    </div></a>
                    <div class="card-body text-center">
                      <h4 class="card-title"><b>{{post.titulo}}</b></h4>
                      <p class="text-muted" style="margin-top: -4px">{{post.descripcion_corta}}</p><a class="btn btn-show-details btn-sm" href="{% url 'single_post' post.slug %}"><i class="icon-eye" style="margin-bottom: 4px"></i>
                         VER POST</a>
                    </div>
                  </div>
                </div>
              {% endfor %} 
            </div>

        </div>


      </div>

    </section>
    <section class="wplus container padding-top-3x padding-bottom-2x">

      <h5 class="text-uppercase padding-top-1x mt-1">
          Bio-Productos Plus
      </h5>

      <br>
      
      <div class="row plus">
        {% for producto in productos_destacados_1 %}
        <div class="col-md-4 col-sm-6">

          <div class="widget widget-featured-products">

            <!-- Entry-->
            <div class="entry">
              <div class="entry-thumb"><a href="{% url 'product_detail' producto.id %}"><img src="{{producto.img_url}}" alt="Product"></a></div>
              <div class="entry-content">
                <h4 class="entry-title"><a href="{% url 'product_detail' producto.id %}" class="text-info">{{producto.name|truncatechars:9}}</a></h4><span class="entry-meta text-success">$ {{producto.price.price__min|intcomma}} COP</span>
                <button class="btn btn-xs btn-primary">VER PRODUCTO</button>
              </div>
            </div>

          </div>

        </div>
        {% endfor %}

        

      </div>

    </section>
      <!-- Site Footer-->
      {% include "home/parts/footer.html" %}

    </div>


	<script src="{% static 'home/js/card.min.js' %}"></script>
	<script src="{% static 'home/js/modernizr.min.js' %}"></script>
	<script src="{% static 'home/js/scripts.min.js' %}"></script>
	<script src="{% static 'home/js/vendor.min.js' %}"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <script>
$('#suscribe_btn').click(function(event){

  event.preventDefault(); 
    
  var nombre = document.getElementById("name").value;
  var email = document.getElementById("email").value;

  if (nombre=="" || email ==""){
    document.getElementById("msj-error").innerHTML = "Formulario invalido, ingrese sus datos en los campos."
  }else{  
    document.getElementById('suscribe_btn').disabled = true;

      $.ajax({
               type: "POST",
               url: "{% url 'suscribe_newsletter' %}",
               data: {'name' : name, 'email': email, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    
                    setTimeout(function(){
                        document.getElementById("msj").innerHTML = response.message;
                        document.getElementById("msj-error").innerHTML = "";
                    }, 1000);
                      
                      
                      
                },
                error: function(rs) {
                    document.getElementById("msj").innerHTML = rs.responseText;
                      
                }
          }); 
  }
 
    })
</script>
</body>
</html>