<!DOCTYPE html>{% load static %}{% load humanize %}
<html lang="es">
<head>
  <meta charset="UTF-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{% static "home/css/style.css" %}">

  <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/img/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/img/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/img/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/img/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/img/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/img/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/img/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/img/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/img/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/img/favicon/favicon-16x16.png" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  {% include "home/parts/header.html" %}

    <div class="offcanvas-wrapper">

      <section class="fw-section padding-top-10x padding-bottom-10x" style="background-image: url({% static 'home/img/backgrounds/1.jpg' %});">
        <div class="container padding-top-2x text-center">
          <div class="d-inline-block mb-30"><img class="d-block w-150" src="{% static 'home/img/biocompras.png' %}" alt="Biocompras"></div>
          <h2 class="text-white text-normal mb-2 padding-bottom-1x"><b>Disfruta la gran experiencia de vender con nosotros</b></h2>
          <a class="btn btn-show-details scroll-to" href=""><b>Comienza Ahora</b> <i class="icon-arrow-right" style="margin-bottom: 4px"></i></a>
        </div>
      </section>

      <section class="wvideo padding-top-3x padding-bottom-1x">
        <div class="container justify-content-center">

            <div class="col-xl-12">

              <div class="gallery-wrapper">

                <div class="gallery-item no-hover-effect"><a href="#" data-type="video" data-video="&lt;div class=&quot;wrapper&quot;&gt;&lt;div class=&quot;video-wrapper&quot;&gt;&lt;iframe class=&quot;pswp__video&quot; width=&quot;960&quot; height=&quot;640&quot; src=&quot;https://player.vimeo.com/video/138235312?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;"><img src="{% static 'home/img/bg-mana.png' %}" alt="Cover"></a></div>

              </div>

            </div>
          
        </div>
      </section>

      <section class="wunete padding-bottom-2x padding-top-2x">
        <div class="container">

          <div class="text-center">
            <a class="btn btn-show-details btn-lg scale-up delay-1" href=""><b>ÚNETE</b> <i class="icon-arrow-right" style="margin-bottom: 4px"></i></a>
          </div>

          <div class="wunete-text text-center padding-top-2x">
            <h3>
              <b>"Estás a un click de tus deseos"</b>
            </h3>
            <h4>
              vender en biocompras.com es muy sencillo
            </h4>
            <img src="{% static 'home/img/infografia_vender.jpg' %}" alt="Infografía" class="img img-responsive">
          </div>

        </div>
      </section>

      <section class="wbeneficios padding-top-3x">
        <div class="container">

          <div class="text-center padding-bottom-3x">
            <h3>
              <b>Excelentes beneficios según el plan que escojas</b>
            </h3>
          </div>

          <div class="container">

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="

                <b class='txt-orange'>Destacados</b> posición VIP en la segunda línea de productos en la página. <hr>
                <b class='txt-orange'>Recomendado</b> posición preferencial en la tercera línea de productos. <hr>
                <b class='txt-orange'>Plus</b> posición general en los últimos puestos de la página

               ">
                  <i class="fa fa-hand-o-right"></i>
                  <h6>Presencia y ubicación estratégica en biocompras.com</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="

                <b class='txt-orange'>Destacados</b> hasta 7 fotos por producto. <hr>
                <b class='txt-orange'>Recomendado</b> hasta 5 fotos por producto. <hr>
                <b class='txt-orange'>Plus</b> hasta 3 fotos por producto.

               ">
                  <i class="fa fa-picture-o"></i>
                  <h6>Posibilidad de publicar tus productos con imagenes</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="

                <b class='txt-orange'>Destacados</b> Si <hr>
                <b class='txt-orange'>Recomendado</b> Si<hr>
                <b class='txt-orange'>Plus</b> Si

               ">
                  <i class="fa fa-heart"></i>
                  <h6>Uso del logotipo de biocompras.com</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                Un video al año <br><br>
                <b class='txt-orange'>Destacados</b> 2 videos de 120seg. <hr>
                <b class='txt-orange'>Recomendado</b> 1 video de 60seg.<hr>
                <b class='txt-orange'>Plus</b> No

               ">
                  <i class="fa fa-youtube-play"></i>
                  <h6>Micro Video Corporativo del producto</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Optimo retorno de inversión en eventos, presencia en 12 conferencias, 4 activaciones de marca al año, 4 seminarios al año, 3 workshop al año. Presencia en fiestas, concursos y premiaciones. <hr>
                <b class='txt-orange'>Recomendado</b> Presencia en 5 conferencias, 2 seminarios al año, Presencia en fiestas, concursos y premiaciones.<hr>
                <b class='txt-orange'>Plus</b> No

               ">
                  <i class="fa fa-calendar"></i>
                  <h6>Activación de marca en eventos</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> 600 entradas. <hr>
                <b class='txt-orange'>Recomendado</b> 60 entradas.<hr>
                <b class='txt-orange'>Plus</b> 0 entradas

               ">
                  <i class="fa fa-ticket"></i>
                  <h6>Boletas VIP distribuidas en distintos eventos en el año</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> Si. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-microphone"></i>
                  <h6>Mención de productos durante conferencias</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                Durante el año <br><br>
                <b class='txt-orange'>Destacados</b> 200 mil flyer y 10 mil afiches. <hr>
                <b class='txt-orange'>Recomendado</b> 10 mil flyer y 500 afiches. <hr>
                <b class='txt-orange'>Plus</b> 0

               ">
                  <i class="fa fa-eye"></i>
                  <h6>Visibilidad de su marca en afiches y flyer</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si, con alta difusión. <hr>
                <b class='txt-orange'>Recomendado</b> Si, con baja difusión. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-share-alt"></i>
                  <h6>Participación en campañas de social media</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> No. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-facebook-square"></i>
                  <h6>Su marca en video viral en Facebook a + de 500 mil personas</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
               Campañas Nacionales y regionales en el marco de las conferencias y eventos de activación de marca <br><br>
                <b class='txt-orange'>Destacados</b> Si, con alta difusión. <hr>
                <b class='txt-orange'>Recomendado</b> Si, con baja difusión. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-bullhorn"></i>
                  <h6>Campañas de relaciones públicas y free press</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
               Publicación de fotos de los eventos con su marca en Facebook e instagram, alcanzando miles de impresiones, like y visitas, con estadísticas proporcionadas por las mismas redes sociales <br><br>
                <b class='txt-orange'>Destacados</b> Si, con alta difusión. <hr>
                <b class='txt-orange'>Recomendado</b> Si, con baja difusión. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-video-camera"></i>
                  <h6>Marketing digital totalmente medible</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
               Compartiremos con usted la información de nuestra audiencia asistente a las conferencias y actividades de activación de marca <br><br>
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> No. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-database"></i>
                  <h6>Acceso a base de datos de asistentes a los eventos</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> No. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-newspaper-o"></i>
                  <h6>Mención de su marca en boletines de prensa</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
               Todos los participantes a los eventos se verán inducidos a comprar sus productos<br><br>
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> Si. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-line-chart"></i>
                  <h6>Incremento de sus ventas a través de los eventos</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si, con presencia preferencial. <hr>
                <b class='txt-orange'>Recomendado</b> Si, a menor escala. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-street-view"></i>
                  <h6>Derecho a estar en Stan en los eventos</h6>
               </button>

            </div>

            <div class="beneficio">
              </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title=""
               data-html="true"
               data-content="
                <b class='txt-orange'>Destacados</b> Si, con presencia preferencial. <hr>
                <b class='txt-orange'>Recomendado</b> Si, a menor escala. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-star-o"></i>
                  <h6>Video y sesión fotográfica con modelos de biocompras</h6>
               </button>

            </div>

            <div class="beneficio">

               <button class="btn-clean" stype="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover"
               title="" data-html="true" data-content="
                <b class='txt-orange'>Destacados</b> Si. <hr>
                <b class='txt-orange'>Recomendado</b> Si. <hr>
                <b class='txt-orange'>Plus</b> No.

               ">
                  <i class="fa fa-copyright"></i>
                  <h6>Derecho de uso de las imagenes</h6>
               </button>

            </div>

            <div class="beneficio">
              </div>

          </div>

        </div>
      </section>

      <section class="wplanes padding-top-3x padding-bottom-3x">
        <div class="container">

          <div class="text-center padding-bottom-3x">
            <h3>
              <b>Fabulosos planes para impulsar tus ventas</b>
            </h3>
          </div>

          <div class="container-fluid">

            <div class="row planes">

              <div class="col-sm-12 col-md-4">

                <div class="card-plan">

                  <div>

                      <h5 class="txt-orange"><b>PLUS (GRATUITO)</b></h5>

                      <img src="{% static 'home/img/icons/icon-free.png' %}" alt="">

                      <h2 class="text-center">
                        <small>
                          POSICIÓN
                        </small>
                        General
                      </h2>

                      <div class="beneficios">
                        <li>Tienda virtual</li>
                        <li>2 imagenes de producto</li>
                        <li>Link para video de YouTube</li>
                        <li>7 publicaciones del producto</li>
                        <li>Visibilidad del producto al azar</li>
                      </div>

                  </div>

                  <a class="btn btn-show-details btn-block scale-up delay-1" href=""><b>ADQUIÉRELO YA</b></a>

                </div>

              </div>

              <div class="col-sm-12 col-md-4">

                <div class="card-plan">

                  <div>

                    <h5 class="txt-blue"><b>RECOMENDADOS</b></h5>

                    <img src="{% static 'home/img/icons/icon-recomendado.png' %}" alt="">

                    <h2 class="text-center">
                      <small>
                          POSICIÓN
                        </small>
                      Preferencial
                    </h2>

                    <div class="beneficios">
                      <li>50 social media post <small>/ año</small></li>
                      <li>Un video de 20 seg.</li>
                      <li>Uso de logo Biocompras.com</li>
                      <li>10000 flyers con su marca <small>/ año</small></li>
                      <li>Visibilidad del producto ideal</li>
                    </div>

                  </div>

                  <a class="btn btn-blue btn-block scale-up delay-1" href=""><b>ADQUIÉRELO YA</b></a>

                </div>

              </div>
              <div class="col-sm-12 col-md-4">

                <div class="card-plan">

                  <div>
                      <h5 class="txt-blue"><b>DESTACADOS</b></h5>

                      <img src="{% static 'home/img/icons/icon-destacado.png' %}" alt="">

                      <h2 class="text-center">
                        <small>
                          POSICIÓN
                        </small>
                        VIP
                      </h2>

                      <div class="beneficios">
                        <li>500 social media post <small>/ año</small></li>
                        <li>2 videos de 2 min.</li>
                        <li>4 actualizaciones de marca <small>/ año</small></li>
                        <li>Uso de logo Biocompras.com</li>
                        <li>200000 flyers con su marca <small>/ año</small></li>
                        <li>4 talleres al año</li>
                      </div>
                  </div>

                  <a class="btn btn-blue btn-block scale-up delay-1" href=""><b>ADQUIÉRELO YA</b></a>

                </div>

              </div>

            </div>

          </div>

        </div>
      </section>

      <section class="wconfian bg-faded padding-top-3x padding-bottom-3x">

        <div class="container confian">

          <h3 class="text-center mb-30 pb-2">Ellos confian en nosotros</h3>

          <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:2},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            {% for marca in topmarcas  %}
            <img class="d-block w-110 m-auto" src="{{marca.logo.url}}" title="{{marca.name}}">            
            {% endfor %}
            

          </div>

          <h4 class="text-center padding-top-2x">
            vender en biocompras.com es muy sencillo
          </h4>

        </div>
      </section>

      <section class="wpreguntas padding-top-3x padding-bottom-3x">
        
        <div class="container preguntas">

          <div class="text-center padding-bottom-2x">
            <a class="btn btn-show-details btn-lg scale-up delay-1" href=""><b>Se parte</b> <i class="icon-arrow-right" style="margin-bottom: 4px"></i></a>
          </div>

          <h3 class="text-center mb-30 pb-2">Preguntas frecuentes</h3>
          
          <div class="accordion" id="accordion" role="tablist">

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">¿Qué necesitas para vender en biocompras.com?</a></h6>
              </div>
              <div class="collapse show" id="collapseOne" role="tabpanel">
                <div class="card-body">
                  <li>Tener productos nuevos, originales y que sean seguros, orgánicos, naturales, ecológicos y
                  sostenibles.</li> 
                  <li>Emitir facturas a tu cliente final de modo regular.</li>
                  <li>Documentación requerida.</li>
                </div>
              </div>
            </div>

           <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">¿Qué documentación se necesita para registrarse en biocompras.com?</a></h6>
              </div>
              <div class="collapse" id="collapseTwo" role="tabpanel">
                <div class="card-body">Es muy importante que antes de iniciar tu registro, tengas a la mano la siguiente documentación en formato PDF (de preferencia), en .JPG o documento de Word, de forma clara y con la información legible.
                <li>Cédula de Identidad</li> 
                <li>RUT</li>
                <li>Certificación bancaria</li>
                <br>
                De ser necesario y dependiendo del tipo de producto, es posible te solicitemos Registro de Empresa en Cámara de Comercio.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">¿Qué puedo vender en biocompras.com?</a></h6>
              </div>
              <div class="collapse" id="collapseThree" role="tabpanel">
                <div class="card-body">
                    En biocompras puedes vender casi de todo. Nuestras principales categorías incluyen alimentos,  salud, construcción, ideas, agroindustrial, educación, entretenimiento; entre otros. Todos los productos deben ser legales, nuevos, originales, seguros. Además de  orgánicos, naturales, ecológicos o sostenibles. El vendedor debe garantizar productos disponibles para la venta dentro del territorio nacional y con precio mínimo de venta garantizado. Por favor consulta la lista de productos de venta restringida.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseFour" data-toggle="collapse" data-parent="#accordion">¿Qué documentación se necesita para registrarse en biocompras.com?</a></h6>
              </div>
              <div class="collapse" id="collapseFour" role="tabpanel">
                <div class="card-body">Es muy importante que antes de iniciar tu registro, tengas a la mano la siguiente documentación en formato PDF (de preferencia), en .JPG o documento de Word, de forma clara y con la información legible.
                <li>Cédula de Identidad</li> 
                <li>RUT</li>
                <li>Certificación bancaria</li></div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseFive" data-toggle="collapse" data-parent="#accordion">¿Quién compra los productos que se publican en biocompras.com?</a></h6>
              </div>
              <div class="collapse" id="collapseFive" role="tabpanel">
                <div class="card-body">
                  Los productos que se anuncian en biocompras.com, podrán ser comprados por cualquier usuario de nuestra página dentro de Colombia.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseSix" data-toggle="collapse" data-parent="#accordion">¿Qué debo pagar al vender en biocompras.com?</a></h6>
              </div>
              <div class="collapse" id="collapseSix" role="tabpanel">
                <div class="card-body">
                  En nuestra página puedes cargar todos los productos que quieras; no cobramos por la creación de tu cuenta, ni por publicación de tu producto si te registras como vendedor Plus. Lo único que se te cobrará en la modalidad plus (gratuita) es una comisión por cada venta realizada dentro de biocompras.com.
                  <br><br>
                  Si decides ser parte del grupo de clientes exclusivos en modalidad Destacado o Recomendado, gozarás de una gran cantidad de beneficios que te ayudarán a impulsar tus ventas en todo el territorio nacional, no solo a través de la web de biocompras.com, ya que dentro de los beneficios destaca el posicionamiento de tus productos con activaciones de marca en eventos multitudinarios como: ferias, convenciones, conferencias, conciertos y más. Por ser un vendedor destacado pagarás una cuto única trimestral, semestral o anual, no se te cobrarán comisiones por cada venta; tendrás posiciones privilegiadas en nuestro sitio y muchas otras bondades . Conoce más de nuestros planes y beneficios para vendedores.

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion">¿Cuándo recibiré los pagos de mis ventas?</a></h6>
              </div>
              <div class="collapse" id="collapseSeven" role="tabpanel">
                <div class="card-body">
                  Recibirás el acumulado de las ventas de tus productos cada vez que los solicites, siempre y cuando tengas saldo habilitado en tu cuenta. Una vez hagas la petición de transferencia de fondos, enviaremos el monto solicitado a la cuenta bancaria que proporcionaste al momento de tu registro inicial en un periodo de 48 a 72 horas hábiles Los pagos se realizan vía transferencia electrónica.

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseEight" data-toggle="collapse" data-parent="#accordion">¿Debo facturar todas mis ventas?</a></h6>
              </div>
              <div class="collapse" id="collapseEight" role="tabpanel">
                <div class="card-body">
                  Sí, en cada orden que despaches, deberás enviar una factura o Prueba de compra correspondiente al cliente final. Nosotros solo generamos una orden de compra basada en el precio del producto, estipulado por ti. En el precio que tú establezcas deberás incluir los impuestos y demás gastos asociados a la venta, los cuales luego deberás especificar en la factura que generes.

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseNine" data-toggle="collapse" data-parent="#accordion">¿Cómo funciona el proceso de envíos?</a></h6>
              </div>
              <div class="collapse" id="collapseNine" role="tabpanel">
                <div class="card-body">
                  Tus productos deberán ser enviados por medio de las paqueterías autorizadas. Cuando recibas una orden, se generará la guía de envío que posteriormente deberás imprimir. Por otro lado, no podrás utilizar vehículos o unidades propias para repartir tus productos; tampoco está permitido el modelo “compra y recoge” en punto de venta.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseTen" data-toggle="collapse" data-parent="#accordion">¿Quién cubre el costo de envío?</a></h6>
              </div>
              <div class="collapse" id="collapseTen" role="tabpanel">
                <div class="card-body">
                  En la mayoría de los casos los envíos son gratuitos, de no ser así, el cliente cubre el costo de envío, el cual se calcula al momento de hacer la compra y se suma al costo del producto. 
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseEleven" data-toggle="collapse" data-parent="#accordion">¿Quién envía el producto?</a></h6>
              </div>
              <div class="collapse" id="collapseEleven" role="tabpanel">
                <div class="card-body">
                  Al recibir la orden y procesarla, debes solicitar la recolección o llevar el paquete directamente a la sucursal de la paquetería correspondiente.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseTwelve" data-toggle="collapse" data-parent="#accordion">¿Debo manejar algún empaque para enviar mi producto?</a></h6>
              </div>
              <div class="collapse" id="collapseTwelve" role="tabpanel">
                <div class="card-body">
                  Tu producto si deberá ir empacado de tal forma que se proteja totalmente, pues los proveedores deberán aceptar todas aquellas devoluciones en caso de que el producto llegue dañado.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed" href="#collapseThirteen" data-toggle="collapse" data-parent="#accordion">¿Quién establece el precio del producto?</a></h6>
              </div>
              <div class="collapse" id="collapseThirteen" role="tabpanel">
                <div class="card-body">
                  Ingresando a tu cuenta de usuario, podrás controlar el precio, imágenes y el inventario de tus productos; así como editar tus publicaciones y agregar nuevos productos.
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section class="wconoce padding-top-3x padding-bottom-3x" style="background-image: url({% static 'home/img/backgrounds/1.jpg'%});">
        <div class="container">
          
          <div class="text-center">
              <h3 class="text-center mb-30 pb-2 padding-bottom-2x padding-top-1x">Conoce más de biocompras.com</h3>
              <a class="btn btn-show-details btn-lg scale-up delay-1" href=""><b>Así somos</b> <i class="icon-arrow-right" style="margin-bottom: 4px"></i></a>
          </div>

        </div>
      </section>

      <section class="wcontacto padding-top-4x padding-bottom-3x">

        <div class="container">

          <h3 class="text-center mb-30 pb-2">¿Tienes alguna inquietud?, con gusto te respondemos</h3>

          <form class="row" method="post">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="help_name">Nombre</label>
                <input class="form-control form-control-rounded" type="text" id="help_name" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="help_email">Correo</label>
                <input class="form-control form-control-rounded" type="email" id="help_email" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="help_ws">Whatsapp</label>
                <input class="form-control form-control-rounded" type="number" id="help_ws" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="help_subject">Asunto</label>
                <input class="form-control form-control-rounded" type="text" id="help_subject" required>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="help_mensaje">Mensaje </label>
                <textarea class="form-control form-control-rounded" id="help_mensaje" rows="8" required></textarea>
              </div>
            </div>
            <div class="col-12 text-right">
              <button class="btn btn-show-details" type="submit">Enviar <i class="icon-arrow-right" style="margin-bottom: 4px"></i></button>
            </div>
          </form>

        </div>
      </section> 

      <!-- Site Footer-->
      {% include "home/parts/footer.html" %}

    </div>

  <script src="{% static 'home/js/card.min.js' %}"></script>
  <script src="{% static 'home/js/modernizr.min.js' %}"></script>
  <script src="{% static 'home/js/scripts.min.js' %}"></script>
  <script src="{% static 'home/js/vendor.min.js' %}"></script>

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
  </script>

</body>
</html>