{% load humanize %}{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/imgfavicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/imgfavicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/imgfavicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/imgfavicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/imgfavicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/imgfavicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/imgfavicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/imgfavicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/imgfavicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/imgfavicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/imgfavicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/imgfavicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/imgfavicon/favicon-16x16.png" %}">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="{% static "home/css/vendor.min.css" %}">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="{% static "home/css/styles.css" %}">

    <!-- Modernizr-->
    <script src="{% static "home/js/modernizr.min.js" %}"></script>
  </head>
  <!-- Body-->
  <body>        
    <!-- Topbar-->
    <div class="topbar">
      <div class="topbar-column">
        <a class="hidden-md-down text-center" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; support@biocompras.com</a>
        <a class="hidden-md-down" href="tel:00331697720"><i class="icon-phone"></i>&nbsp; +57 310 3635515</a>
        <a class="social-button sb-facebook shape-none sb-dark" href="https://www.facebook.com/biocompras" target="_blank"><i class="socicon-facebook"></i></a>
        <a class="social-button sb-twitter shape-none sb-dark" href="https://twitter.com/biocomprascom" target="_blank"><i class="socicon-twitter"></i></a>
        <a class="social-button sb-instagram shape-none sb-dark" href="https://www.instagram.com/biocompras/" target="_blank"><i class="socicon-instagram"></i></a>        
      </div>

      <!-- <div class="topbar-column">
        <div class="lang-currency-switcher-wrap">
          <div class="lang-currency-switcher dropdown-toggle"><span class="currency">$ COP</span></div>
          <div class="dropdown-menu">
            <div class="currency-select">
              <select class="form-control form-control-rounded form-control-sm">
                <option value="usd">$ COP</option>
                <option value="usd">$ USD</option>
                <option value="usd">€ EUR</option>
              </select>
              <button class="btn btn-success">Guardar</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Navbar-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar navbar-sticky">
      <!-- Search-->
      <form class="site-search" method="get">
        <input type="text" name="site_search" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Limpiar</span><span class="close-search"><i class="icon-cross"></i></span></div>
      </form>
      <div class="site-branding">
        <div class="inner">
          <!-- Site Logo--><a class="site-logo" href="index.html"><img src="{% static "home/img/logo-1.png" %}" alt="BioCompras.com"></a>
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="site-menu">
        <ul>
          <li class="has-megamenu active"><a href="index.html"><span>Inicio</span></a>

          </li>
          <li><a href="#"><span>MARKETPLACE</span></a>
          </li>
          <li class="has-megamenu"><a href="#"><span>Categorías</span></a>
            <ul class="mega-menu">
              <li><span class="mega-menu-title">Top Categorías</span>
                <ul class="sub-menu">
                  {% for categoria in top_categorias  %}
                  <li><a href="#">{{categoria.name}}</a></li>                     
                  {% endfor %}
                                  
                </ul>
              </li>
              <li><span class="mega-menu-title">Top Tiendas</span>
                <ul class="sub-menu">
                  {% for tienda in top_tiendas %}
                  <li><a href="#">{{tienda.name}}</a></li>
                  {% endfor %}
                                    
                </ul>
              </li>
              <li>
                <section class="promo-box" style="background-image: url({% static 'home/img/banners/02.jpg' %});"><span class="overlay-dark" style="opacity: .4;"></span>
                  <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                    <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                    <h3 class="text-bold text-light text-shadow">Sunglasses</h3><a class="btn btn-sm btn-primary" href="#">Shop Now</a>
                  </div>
                </section>
              </li>
              <li>
                <section class="promo-box" style="background-image: url({% static 'home/img/banners/03.jpg' %});">
                  <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span class="overlay-dark" style="opacity: .45;"></span>
                  <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                    <h3 class="text-bold text-light text-shadow">Limited Offer</h3>
                    <h4 class="text-light text-thin text-shadow">save up to 50%!</h4><a class="btn btn-sm btn-primary" href="#">Learn More</a>
                  </div>
                </section>
              </li>
            </ul>
          </li>
          <li><a href="blog-rs.html"><span>Blog</span></a>            
          </li>
        </ul>
      </nav>
      <!-- Toolbar-->
      <div class="toolbar">
        <div class="inner">
          <div class="tools">
            <div class="search"><i class="icon-search"></i></div>
            <div class="account"><a href="account-orders.html"></a><i class="icon-head"></i>
              <ul class="toolbar-dropdown">
                <li class="sub-menu-user">
                  <div class="user-ava">
                    {% if user.is_authenticated %}
                    {% if user.img_profile %}
                     <img src="{{user.img_profile.url}}" alt="Daniel Adams">
                     {% else %}
                     <img src="{% static "home/img/account/user-ava-sm.jpg" %}" alt="Daniel Adams">{% endif %}
                   
                    {% else %}
                    <img src="{% static "home/img/account/user-ava-sm.jpg" %}" alt="Daniel Adams">
                    {% endif %}
                  </div>
                  <div class="user-info">
                    {% if user.is_authenticated %}
                      <h6 class="user-name">Hola {% if user.first_name %}
                        {{user.first_name}}
                        {% else %}
                        {{user.username}}
                        
                      {% endif %}</h6><span class="text-xs text-muted">Tienes 0 Puntos</span>
                    {% else %}
                      <h6 class="user-name">Hola, anónimo</h6><span class="text-xs text-muted">Tienes 0 Puntos</span>
                    {% endif %}

                  </div>
                </li>
                {% if user.is_authenticated %}
                  <li><a href="account-profile.html">Mi perfil</a></li>
                  <li><a href="account-orders.html">Mi tienda</a></li>
                  <li><a href="account-wishlist.html">Carrito de compras</a></li>
                <li class="sub-menu-separator"></li>
                <li><a href="{% url 'logout_view' %}"> <i class="icon-unlock"></i>Cerrar Sesión</a></li>
                {% else %}
                  <li><a href="account-wishlist.html">Carrito de compras</a></li>
                <li class="sub-menu-separator"></li>
                <li><a href="{% url 'custom_login' %}"> <i class="icon-unlock"></i>Iniciar Sesión</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="cart"><a href="cart.html"></a><i class="icon-bag"></i><span class="count">{{shop_cart.prod_quant}}</span><span class="subtotal">$ {{shop_cart.total|intcomma}}</span>
              <div class="toolbar-dropdown">
                {% for item in shop_cart.items.all  %}
                <div class="dropdown-product-item"><span class="dropdown-product-remove"><i class="icon-cross"></i></span><a class="dropdown-product-thumb" href="shop-single.html"><img src="{{item.product.main_img.url}}" alt="Product"></a>
                  <div class="dropdown-product-info"><a class="dropdown-product-title" href="shop-single.html">{{item.product.name}}</a><span class="dropdown-product-details">{{item.quant}} x $ {{total|intcomma}}</span></div>
                </div>
                  
                {% endfor %}
                
                
                <div class="toolbar-dropdown-group">
                  <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="cart.html">Ver Carrito</a></div>
                  <div class="column"><a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Pagar</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <br>
    <section class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-12">
            <div class="fw-section rounded padding-top-2x padding-bottom-2x" style="background-image: url({% static 'home/img/banners/home02.jpg' %});"><span class="overlay rounded" style="opacity: .35;"></span>
              <div class="text-center">
                <h3 class="display-4 text-normal text-white text-shadow mb-1">Vende tu Bio-producto</h3>
                <h2 class="display-2 text-bold text-white text-shadow">¡Hazte miembro Destacado!</h2>
                <h4 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">Conoce todos los beneficios</h4><br><a class="btn btn-warning" href="contacts.html">Ver Detalles</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
      <!-- Main Slider-->
      <section class="hero-slider" style="background-image: url({% static 'home/img/hero-slider/main-bg.jpg' %});">
        <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 10000 }">
          {% for producto in productos_propios  %}
            <div class="item">
            <div class="container padding-top-3x">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                  <div class="from-bottom">
                    <div class="h2 text-body text-normal mb-2 pt-1">{{producto.name}}</div>
                    <div class="h2 text-body text-normal mb-4 pb-1"><span class="text-bold">$ {{producto.price|intcomma}} COP</span></div>
                  </div><a class="btn btn-primary scale-up delay-1" href="{% url 'product_detail' producto.id %}">Ver Detalles</a>
                </div>
                <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="{{producto.main_img.url}}" alt="Puma Backpack"></div>
              </div>
            </div>
          </div>            
          {% endfor %}          
        </div>
      </section>
      <!-- Top Categories-->
      <section class="container padding-top-3x">
        <h3 class="text-center mb-30">BIO-PRODUCTOS DESTACADOS</h3>
        <div class="row">
          <div class="owl-carousel carrousel-2">
            {% for producto in productos_destacados  %}   
            
            <div class="grid-item">
            <div class="product-card">
              <!--DESCUENTO <div class="product-badge text-danger">22% Off</div> --><a class="product-thumb" href="{% url 'product_detail' producto.id %}"><img src="{{producto.main_img.url}}" alt="Product"></a>
              <h3 class="product-title"><a href="shop-single.html">{{producto.name}}</a></h3>
              <h4 class="product-price">
                $ {{producto.price|intcomma}}
              </h4>
              <div class="product-buttons">
                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                <a href="{% url 'product_detail' producto.id %}"><button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Ver Detalles</button></a>
              </div>
            </div>
          </div>

          {% endfor %}

          </div>
        </div>
        <br>
        <div class="text-center"><a class="btn btn-outline-secondary margin-top-none" href="shop-categories.html">Más Productos Detacados</a></div>
      </section>
      <section class="container-fluid">
      <div class="row justify-content-center">
      <h3 class="text-center mb-30 text-uppercase padding-top-2x mt-2">Bio-Videos</h3>
            <hr class="margin-bottom-1x">
            <div class="gallery-wrapper owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
              {% for video in videos %}
              <div class="gallery-item"><a href="#" data-type="video" data-video="&lt;div class=&quot;wrapper&quot;&gt;&lt;div class=&quot;video-wrapper&quot;&gt;&lt;iframe class=&quot;pswp__video&quot; width=&quot;960&quot; height=&quot;640&quot; src=&quot;https://www.youtube-nocookie.com/embed/{{video.codigo_youtube}}?rel=0&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;"><img src="{{video.img_miniatura.url}}" alt="Image"></a><span class="caption">{{video.titulo}}</span></div>                
              {% endfor %}
              
            
            </div>

          </div>




      </section>

      <!-- Featured Products Carousel-->
      <section class="container padding-top-3x padding-bottom-3x">
        <h3 class="text-center mb-30">BIO-Productos Recomendados</h3>
        <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
          {% for producto in productos_recomendados  %}           
          
            <!-- Product-->
            <div class="grid-item">
              <div class="product-card">
                <!-- <div class="product-badge text-danger">22% Off</div> --><a class="product-thumb" href="{% url 'product_detail' producto.id %}"><img src="{{producto.main_img.url}}" alt="Product"></a>
                <h3 class="product-title"><a href="shop-single.html">{{producto.name}}</a></h3>
                <h4 class="product-price">
                  <!-- <del>$44.95</del> -->$ {{producto.price|intcomma}}
                </h4>
                <div class="product-buttons">
                  <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                  <a href="{% url 'product_detail' producto.id %}"><button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Ver Detalles</button></a>
                </div>
              </div>
            </div>
          {% endfor %}
          
        </div>
      </section>
       <!-- Popular Brands-->
      <section class="bg-faded padding-top-3x padding-bottom-3x">
        <div class="container">
          <h3 class="text-center mb-30 pb-2">TOP MARCAS BIOCOMPRAS.COM</h3>
          <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            {% for marca in topmarcas  %}
            <img class="d-block w-110 opacity-75 m-auto" src="{{marca.logo.url}}" alt="{{marca.name}}" title="{{marca.name}}">              
            {% endfor %}
            
          </div>
        </div>
      </section>

      <!-- Product Widgets-->
      <section class="container padding-bottom-2x">
        <h3 class="text-center">BIO-Productos PLUS</h3>
        <div class="row">

              <!-- Entry-->
              <div class="entry col-md-4 col-sm-6">
                <div class="entry-thumb"><a href="shop-single.html"><img src="{% static "home/img/shop/widget/01.jpg" %}" alt="Product"></a></div>
                <div class="entry-content">
                  <h4 class="entry-title"><a href="shop-single.html">Oakley Kickback</a></h4><span class="entry-meta">$155.00</span>
                </div>
              </div>col-md-4 col-sm-6
              <!-- Entry-->
              <div class="entry col-md-4 col-sm-6">
                <div class="entry-thumb"><a href="shop-single.html"><img src="{% static "home/img/shop/widget/03.jpg" %}" alt="Product"></a></div>
                <div class="entry-content">
                  <h4 class="entry-title"><a href="shop-single.html">Vented Straw Fedora</a></h4><span class="entry-meta">$49.50</span>
                </div>
              </div>
         

        </div>
      </section>
     
      <!-- Services-->
     <!--  <section class="container padding-top-3x">
        <div class="row">
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static "home/img/services/01.png" %}" alt="Shipping">
            <h6>Envío a todas las ciudades de Colombia</h6>
            <p class="text-muted margin-bottom-none">Si estás dentro de la cobertura, te sale gratis el envío</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static "home/img/services/02.png" %}" alt="Money Back">
            <h6>Devolución de dinero garantizado</h6>
            <p class="text-muted margin-bottom-none">Si no estás conforme con tu compra, te devolvemos tu dinero antes de 30 días</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static "home/img/services/03.png" %}" alt="Support">
            <h6>Soporte al cliente 24/7</h6>
            <p class="text-muted margin-bottom-none">Soporte al cliente especializado</p>
          </div>
          <div class="col-md-3 col-sm-6 text-center mb-30"><img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="{% static "home/img/services/04.png" %}" alt="Payment">
            <h6>Pagos en Línea Seguros</h6>
            <p class="text-muted margin-bottom-none">Nuestro Sitio web cuenta con certificado SSL. La información que envías o recibes a través del sitio web es segura y privada. </p>
          </div>
        </div>
      </section> -->

      <!-- Popular Brands-->
      <section class="padding-bottom-2x">
        <div class="container">
          <h3 class="text-center mb-30 pb-2">MEDIA SPONSORS</h3>
          <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            {% for medio in mediasponsors  %}
            <img class="d-block w-110 opacity-75 m-auto" src="{{medio.logo.url}}" alt="{{marca.name}}" title="{{medio.name}}">              
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- Site Footer-->
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <!-- Contact Info-->
              <section class="widget widget-light-skin">
                <h3 class="widget-title">Manténte en contacto con nosotros</h3>
                <p class="text-white">Teléfono: +57 310 3635515</p>
                <ul class="list-unstyled text-sm text-white">
                  <li><span class="opacity-50">Lunes-Domingo:</span>9.00 am - 8.00 pm</li>
                </ul>
                <p><a class="navi-link-light" href="#">support@biocompras.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="https://www.facebook.com/biocompras"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="https://twitter.com/biocomprascom"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="https://www.instagram.com/biocompras/"><i class="socicon-instagram"></i></a>
              </section>
            </div>
 <!-- 
            <div class="col-lg-3 col-md-6">
              <section class="widget widget-light-skin">
               
                <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
                 
              </section>
            </div>-->
            <div class="col-lg-3 col-md-6">
              <!-- About Us-->
              <section class="widget widget-links widget-light-skin">
                <h3 class="widget-title">Acerca de BioCompras.com</h3>
                <ul>
                  <li><a href="#">Quiénes Somos</a></li>
                  <li><a href="#">Cómo funciona</a></li>
                  <li><a href="#">Beneficios</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </section>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <!-- Account / Shipping Info-->
              <img src="{% static "home/img/te_amo_colombia.png" %}" class="img img-responsive" alt="Una plataforma 100% Colombiana." width="80">
              <h2 style="color:white;">Una plataforma 100% Colombiana. &nbsp;</h2>
              
            </div>
          </div>
          <hr class="hr-light mt-2 margin-bottom-2x">
          <div class="row">
            <div class="col-md-7 padding-bottom-1x">
              <!-- Payment Methods-->
              <div class="margin-bottom-1x" style="max-width: 615px;"><img src="{% static "home/img/payment_methods.png" %}" alt="Payment Methods">
              </div>
            </div>
            <div class="col-md-5 padding-bottom-1x">
              <div class="margin-top-1x hidden-md-up"></div>
              <!--Subscription-->

              <form class="subscribe-form" id="subscribe-form" method="POST">{% csrf_token %}
                <span class="text-sm text-white text-center">Suscríbete a nuestro boletín para recibir ofertas de descuentos anticipados, últimas noticias, ventas e información promocional.</span><br><br>
                <div class="clearfix">
                  <span class="text-success" id="msj"></span>
                  <span class="text-danger" id="msj-error"></span>
                  <div class="input-group input-light" style="margin-bottom: 10px;">
                    <input class="form-control" type="email" id="email" name="EMAIL" placeholder="Tu e-mail aquí..."><span class="input-group-addon"><i class="icon-mail"></i></span>
                  </div>
                  <div class="input-group input-light">
                    <input class="form-control" type="text" id ="name" name="nombre" placeholder="Tu nombre aquí..."><span class="input-group-addon"><i class="icon-head"></i></span>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                  <button class="btn btn-success" type="submit" id="suscribe_btn"><i class="icon-check"></i></button>
                </div>
              </form>
            </div>
          </div>
          <!-- Copyright-->
          <p class="footer-copyright">BioCompras.com © Todos los derechos reservados.</p>
        </div>
      </footer>
    </div>
    <!-- Photoswipe container-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Cerrar (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Compartir"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="{% static "home/js/vendor.min.js" %}"></script>
    <script src="{% static "home/js/scripts.min.js" %}"></script>
    <script>
      $('.carrousel-2').owlCarousel({
     items: 3,
                    nav: false,
                    autoplay:true,
                    loop: true,
                    autoplayTimeout:6000,
                    margin:10,
                    dots:false,
                    navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
                    'responsive': {
                        507: {
                            'items': 3
                        },
                        763: {
                            'items': 3
                        }
                    }
});
    </script>

      <script>
$('#suscribe_btn').click(function(event){

  alert("Hola");

  event.preventDefault(); 
    
  var nombre = document.getElementById("name").value;
  var email = document.getElementById("email").value;

  if (nombre=="" || email ==""){
    document.getElementById("msj-error").innerHTML = "Formulario invalido, ingrese sus datos en los campos."
  }else{  
    document.getElementById('suscribe_btn').disabled = true;

      $.ajax({
               type: "POST",
               url: "{% url 'suscribe_newsletter' %}",
               data: {'name' : name, 'email': email, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    
                    setTimeout(function(){
                        document.getElementById("msj").innerHTML = response.message;
                        document.getElementById("msj-error").innerHTML = "";
                    }, 1000);
                      
                      
                      
                },
                error: function(rs) {
                    document.getElementById("msj").innerHTML = rs.responseText;
                      
                }
          }); 
  }
 
    })
</script>
  </body>
</html>
