<!DOCTYPE html>{% load static %}
<html lang="es">
<head>
	<meta charset="utf-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia, sostenible">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="{% static "home/css/style.css" %}">

	<!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/img/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/img/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/img/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/img/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/img/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/img/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/img/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/img/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/img/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/img/favicon/favicon-16x16.png" %}">

	<title></title>
</head>
<body>

    <section id="wusersect" class="u-size">

		<div id="user-box">

			<div id="wcircle">
				<div class="circle"></div>
			</div>

			<div id="wvendedor">
				<a href="/vende/">
					<div class="btn">
						<h4>
							Vende
						</h4>
						<hr>
						<h6>
							Soluciones
						</h6>
					</div>
				</a>
			</div>

			<div id="wlogo">
				<div class="u-size-logo">
					<img src="{% static "home/img/biocompras.png" %}" alt="BioCompras">
				</div> 
			</div>

			<div id="wcomprador">
				<a href="/compra/">
					<div class="btn">
						<h4>
							Compra
						</h4>
						<hr>
						<h6>
							Satisfacción
						</h6>
					</div>
				</a>
			</div>

		</div>

    </section>

	<script src="{% static "home/js/card.min.js" %}"></script>
	<script src="{% static "home/js/modernizr.min.js" %}"></script>
	<script src="{% static "home/js/scripts.min.js" %}"></script>
	<script src="{% static "home/js/vendor.min.js" %}"></script>

</body>
</html>