<!DOCTYPE html>{% load static %}{% load humanize %}
<html lang="es">
<head>
  <meta charset="UTF-8">
    <title>BioCompras.com | La comunidad de compras ecoamigables
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="BioCompras.com - La comunidad de compras ecoamigables">
    <meta name="keywords" content="shop, e-commerce, online store, business, mobile, blog, compras, ecoamigable, biológicas, ecológico, ecológica, productos naturales, eco, Cartagena, Colombia">
    <meta name="author" content="BioCompras.com">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{% static "home/css/style.css" %}">
  <script src="{% static "home/js/modernizr.min.js" %}"></script>

  <!-- Favicon and Apple Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "home/img/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "home/img/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "home/img/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "home/img/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "home/img/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "home/img/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "home/img/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "home/img/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "home/img/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "home/img/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "home/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "home/img/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "home/img/favicon/favicon-16x16.png" %}">
</head>
<body> 

	{% include "home/parts/header.html" %}

    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Quiénes Somos</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="{% url 'home_compradores' %}">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Quiénes Somos</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-2x mb-2">
        <div class="row align-items-center padding-bottom-2x">
          <div class="col-md-5"><p class="text-center"><img src="{% static "home/img/logo-1.png" %}" alt="BioCompras.com"></p></div>
          <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Quiénes Somos</h2>
            <p class="text-justify">"Somos una plataforma de compra y venta en línea, que ofrece marcas promotoras de un estilo de vida saludable, natural, sustentable y bioamigable con importante proyección a nivel mundial"</p>
          </div>
        </div>
        <hr>
        <div class="row align-items-center padding-top-2x padding-bottom-2x">
          <div class="col-md-5 order-md-2"></div>
          <div class="col-md-7 order-md-1 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <p class="text-justify">
              Biocompras.com es el lugar ideal para disfrutar la mejor experiencia de compra de bio-productos y servicios de excelente calidad, de manera rápida y a muy buen precio.  Las tendencias innovadoras y de bienestar tienen una visibilidad de forma destacada, recomendada o gratuita en nuestra oferta al público.
            </p>
          </div>
        </div>
        <hr>
        <div class="row align-items-center padding-top-2x padding-bottom-2x">
          <div class="col-md-5"></div>
          <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <p class="text-justify">
              Dentro de nuestros principales propósitos, además de precios competitivos, se encuentran el ofrecer la infraestructura adecuada, un extraordinario modelo de atención al cliente, continuas expansiones en modelos de marcas, productos y servicios, garantizando la más amplia gama de productos orgánicos. Contamos además con el diseño y la tecnología que acerca de manera segura a vendedores y compradores de toda Colombia y Latinoamérica. 
            </p>
          </div>
        </div>
        <hr>
        <div class="row align-items-center padding-top-2x padding-bottom-2x">
          <div class="col-md-5 order-md-2"></div>
          <div class="col-md-7 order-md-1 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <h2>Nuestra motivación</h2>
            <p class="text-justify">
              BioCompras nace del deseo interno de contar con la facilidad de una tienda que reúna a las marcas de bio-productos y servicios, orgánicos y ecológicos de producción nacional, descubriendo posteriormente que existe una creciente comunidad que se identifica con esa misma necesidad y que además desea que fabricantes y proveedores desarrollen iniciativas en el consumo responsable, combinando prácticas innovadoras, creatividad y conciencia ambiental que les permitan llevar un estilo de vida saludable con una cultura de bienestar integral.
            </p>
          </div>
        </div>
        <div class="row align-items-center padding-top-2x padding-bottom-2x">
          <div class="col-md-5"></div>
          <div class="col-md-7 text-md-left text-center">
            <div class="mt-30 hidden-md-up"></div>
            <p class="text-justify">
              Biocompras.com es el portal de compra y venta especializado más dinámico y completo, atendiendo a las necesidades de nuestros consumidores en líneas que van desde Alimentos y bebidas, pasando por Salud y belleza, productos Infantiles, hasta Arquitectura, diseño ecológico, productos Post-conflicto, entretenimiento y educación, entre otros.            
            </p>
          </div>
        </div>
        
        </div>
      </div>
      <!-- Site Footer-->
      {% include "home/parts/footer.html" %}
    </div>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>

	<script src="js/card.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/scripts.min.js"></script> 
	<script src="js/vendor.min.js"></script>
</body>