{% load static %}{% load humanize %}
<footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <!-- Contact Info-->
              <section class="widget widget-light-skin">
                <h3 class="widget-title">Manténte en contacto con nosotros</h3>
                <p class="text-white">Teléfono: +57 310 3635515</p>
                <ul class="list-unstyled text-sm text-white">
                  <li><span class="opacity-50">Lunes-Domingo:</span>9.00 am - 8.00 pm</li>
                </ul>
                <p><a class="navi-link-light" href="#">support@biocompras.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="https://www.facebook.com/biocompras"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="https://twitter.com/biocomprascom"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="https://www.instagram.com/biocompras/"><i class="socicon-instagram"></i></a>
              </section>
            </div>

            <div class="col-lg-3 col-md-6">
              <!-- About Us-->
              <section class="widget widget-links widget-light-skin">
                <h3 class="widget-title">BioCompras.com</h3>
                <ul>
                  <li><a href="#">Quiénes Somos</a></li>
                  <li><a href="#">Cómo funciona</a></li>
                  <li><a href="#">Beneficios</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </section>
            </div>
             <div class="col-lg-3 col-md-6">
              <section class="widget widget-links widget-light-skin">
               
                <h3 class="widget-title">AYUDA</h3>
                <ul>
                  <li><a href="#">Preguntas Frequentes (FAQs)</a></li>
                  <li><a href="{% url 'home_compradores' %}">Cómo vender</a></li>
                  <li><a href="#">Términos y Condiciones</a></li>
                  <li><a href="#">Política de privacidad</a></li>
                </ul>
                 
              </section>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <!-- Account / Shipping Info-->
              <img src="{% static "home/img/te_amo_colombia.png" %}" class="img img-responsive" alt="Una plataforma 100% Colombiana." width="80">
              <h3 style="color:white;">Una plataforma 100% Colombiana. &nbsp;</h3>
              
            </div>
          </div>
          <hr class="hr-light mt-2 margin-bottom-2x">
          <div class="row">
            <div class="col-md-7 padding-bottom-1x">
              <!-- Payment Methods-->
              <div class="margin-bottom-1x" style="max-width: 615px;"><img src="{% static "home/img/payment_methods.png" %}" alt="Payment Methods">
              </div>
            </div>
            <div class="col-md-5 padding-bottom-1x">
              <div class="margin-top-1x hidden-md-up"></div>
              <!--Subscription-->

              <form class="subscribe-form" id="subscribe-form" method="POST">{% csrf_token %}
                <span class="text-sm text-white text-center">Suscríbete a nuestro boletín para recibir ofertas de descuentos anticipados, últimas noticias, ventas e información promocional.</span><br><br>
                <div class="clearfix">
                  <span class="text-success" id="msj"></span>
                  <span class="text-danger" id="msj-error"></span>
                  <div class="input-group input-light" style="margin-bottom: 10px;">
                    <input class="form-control" type="email" id="email" name="EMAIL" placeholder="Tu e-mail aquí..."><span class="input-group-addon"><i class="icon-mail"></i></span>
                  </div>
                  <div class="input-group input-light">
                    <input class="form-control" type="text" id ="name" name="nombre" placeholder="Tu nombre aquí..."><span class="input-group-addon"><i class="icon-head"></i></span>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                  <button class="btn btn-success" type="submit" id="suscribe_btn"><i class="icon-check"></i></button>
                </div>
              </form>
            </div>
          </div>
          <!-- Copyright-->
          <p class="footer-copyright">BioCompras.com © Todos los derechos reservados.</p>
        </div>
      </footer>