<!-- Topbar-->
    <div class="topbar">{% load static %}{% load humanize %}
      <div class="topbar-column">
        <a class="hidden-md-down text-center" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; support@biocompras.com</a>
        <a class="hidden-md-down" href="tel:00331697720"><i class="icon-phone"></i>&nbsp; +57 310 3635515</a>
        <a class="social-button sb-facebook shape-none sb-dark" href="https://www.facebook.com/biocompras" target="_blank"><i class="socicon-facebook"></i></a>
        <a class="social-button sb-twitter shape-none sb-dark" href="https://twitter.com/biocomprascom" target="_blank"><i class="socicon-twitter"></i></a>
        <a class="social-button sb-instagram shape-none sb-dark" href="https://www.instagram.com/biocompras/" target="_blank"><i class="socicon-instagram"></i></a>
      </div>

      <!-- <div class="topbar-column">
        <div class="lang-currency-switcher-wrap">
          <div class="lang-currency-switcher dropdown-toggle"><span class="currency">$ COP</span></div>
          <div class="dropdown-menu">
            <div class="currency-select">
              <select class="form-control form-control-rounded form-control-sm">
                <option value="usd">$ COP</option>
                <option value="usd">$ USD</option>
                <option value="usd">€ EUR</option>
              </select>
              <button class="btn btn-success">Guardar</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Navbar-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar navbar-sticky">
      <!-- Search-->
      <form class="site-search" method="get">
        <input type="text" name="site_search" placeholder="Type to search...">
        <div class="search-tools"><span class="clear-search">Limpiar</span><span class="close-search"><i class="icon-cross"></i></span></div>
      </form>
      <div class="site-branding">
        <div class="inner">
          <!-- Site Logo--><a class="site-logo" href="index.html"><img src="{% static "home/img/logo-1.png" %}" alt="BioCompras.com"></a>
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="site-menu">
        <ul>
          <li class="active"><a href="{% url 'home_compradores' %}"><span>Inicio</span></a></li>
          <li class="has-megamenu"><a href="#"><span>MARKETPLACE</span></a>
            <ul class="mega-menu">
              <li><span class="mega-menu-title">ACERCA DE NOSOTROS</span>
                <ul class="sub-menu">
                  <li><a href="{% url 'quienes_somos' %}">QUIÉNES SOMOS</a></li>

                </ul>
              </li>
              <li><span class="mega-menu-title">Top Categorías</span>
                <ul class="sub-menu">
                  {% for categoria in top_categorias  %}
                  <li><a href="#">{{categoria.name}}</a></li>
                  {% endfor %}

                </ul>
              </li>
              <li><span class="mega-menu-title">Top Tiendas</span>
                <ul class="sub-menu">
                  {% for tienda in top_tiendas %}
                  <li><a href="#">{{tienda.name}}</a></li>
                  {% endfor %}

                </ul>
              </li>
            </ul>
          </li>
          <li><a href="{% url 'panel_store' %}"><span>Vender</span></a>
          <li><a href="{% url 'home_blog' %}"><span>Blog</span></a>
          </li>
          </li>
        </ul>
      </nav>
      <!-- Toolbar-->
      <div class="toolbar">

        <div class="inner">

          <div class="tools">

            <div class="search">
            	<i class="icon-search"></i>
            </div>

            <div class="account">

            	<a href="{% url 'custom_login' %}"></a><i class="icon-head"></i>

              <ul class="toolbar-dropdown">

                <li class="sub-menu-user">

                  <div class="user-ava">
                    {% if request.user.is_authenticated %}
                      {% if request.user.img_profile %}
                        <img src="{{request.user.img_profile.url}}" alt="Foto de Perfil">
                      {% else %}
                        <img src="{% static 'home/img/logo-1.png' %}" alt="Foto de Perfil">
                      {% endif %}
                    {% else %}
                    <img src="{% static 'home/img/logo-1.png' %}" alt="Foto de Perfil">
                    {% endif %}



                  </div>

                  <div class="user-info">
                    {% if not request.user.is_authenticated %}
                    <h6 class="user-name">Hola, Bioamig@</h6>
                    {% else %}
                    <h6 class="user-name">Hola, {{user.first_name}}</h6>
                    {% endif %}


                  </div>
                </li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'custom_login' %}"> <i class="icon-unlock"></i>Iniciar Sesión</a></li>
                    {% else %}
                    <li><a href="{% url 'user_profile' %}">Mi perfil</a></li>
                  <li><a href="{% url 'panel_store' %}">Mi tienda</a></li>
                  <li class="sub-menu-separator"></li>
                  <li><a href="{% url 'logout_view' %}"> <i class="icon-unlock"></i>Cerrar Sesión</a></li>
                    {% endif %}


              </ul>

            </div>

            <div class="cart">

            	<a href="#"></a>
            	<i class="icon-bag"></i>
            	<span class="count">{{shop_cart.prod_quant}}</span>
            	<span class="subtotal">$ {{shop_cart.total|intcomma}} COP</span>

              <div class="toolbar-dropdown">
                {% for product in cart_items  %}
                <div class="dropdown-product-item">
                	<a class="dropdown-product-thumb" href="{% url 'product_detail' product.product_detail.product.id %}"><img src="{{product.product_detail.product.main_img.url}}" alt="Product"></a>

                  <div class="dropdown-product-info"><a class="dropdown-product-title" href="{% url 'product_detail' product.product_detail.product.id %}">{{product.product_detail.product.name}}</a><span class="dropdown-product-details">{{product.quant}} x $ {{product.product_detail.price|intcomma}}</span></div>

                </div>
                {% endfor %}

                <div class="toolbar-dropdown-group">

                  <div class="column">
                  	<a class="btn btn-sm btn-block btn-secondary" href="{% url 'my_cart' %}">Ver Carrito</a>
                  </div>

                  <div class="column">
                  	<a class="btn btn-sm btn-block btn-success" href="#">Pagar</a>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </header>
