{% extends 'stores/stores/base.html' %}
{% load static%}
{% load humanize %}
{% block content %}
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            {% if user.store.get.description == "" %}
            <h1>Aun no configuras tu tienda, <a href="{% url 'create_store' %}">Configurar</a></h1>
            {% else%}
            <h1>Mi tienda: <strong>{{ user.store.get.name }}</strong></h1>
            {% endif %}
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a href="account-orders.html">Vendedores</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Mi tienda</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <div class="col-lg-4">
            <aside class="user-info-wrapper">
              {% if user.store.get.cover_img.url != None %}
              <div class="user-cover" style="background-image: url({{ user.store.get.cover_img.url }});">
                <div class="info-label" data-toggle="tooltip" title="Plan"><i class="icon-medal"></i>{{ user.store.get.plan.name | lower | title }}
                </div>
              </div>
              {% endif %}
              <div class="user-info">
                <div class="user-avatar">
                  <a class="edit-avatar" href="{% url 'update_images_store' %}"></a>
                  {% if user.store.get.logo.url != None %}
                  <img src="{{ user.store.get.logo.url }}" alt="User">
                  {% endif %}

                </div>
                <div class="user-data">
                  {% if user.store.get.name == None %}
                    Aun no has seleccionado un nombre
                  {% else %}
                  <h4>{{ user.store.get.name }}</h4><span>Joined February 06, 2017</span>
                  {% endif %}
                </div>
              </div>
            </aside>
            <nav class="list-group">
              <a class="list-group-item with-badge" href="{% url 'order_list' %}">
                <i class="icon-bag"></i>
                Ordenes
                <span class="badge badge-primary badge-pill">6</span>
              </a>
              <a class="list-group-item" href="{% url 'my_products' %}">
                <i class="icon-briefcase"></i>
                Productos
              </a>
              <a class="list-group-item" href="{% url 'my_stock' %}">
                <i class="icon-check"></i>
                Almacen
              </a>
              <a class="list-group-item with-badge" href="account-tickets.html">
                <i class="icon-heart"></i>
                Promociones
                <span class="badge badge-primary badge-pill">
                  4
                </span>
              </a>
              <a class="list-group-item with-badge" href="account-wishlist.html">
                <i class="icon-cog"></i>
                Configuracion
                <span class="badge badge-primary badge-pill">3</span>
              </a>

            </nav>
          </div>
          <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="row">
              {% block subcontent %}
              <!-- Notificacion de tienda inactiva o activa-->
              {% if not store.is_active %}
              <div class="col-md-12 alert alert-warning alert-dismissible fade show margin-bottom-1x">
                <span class="alert-close" data-dismiss="alert"></span>
                <h3>Hola, {{ user.first_name }}</h3>
                <p>Tu tienda aun no ha sido activada <br></p>
              </div>
              {% endif %}

              {% include "./product_list.html" %}


            {% endblock %}
            </div>
          </div>
        </div>
      </div>

{% endblock %}
