{% extends "./admin_store.html" %}
{% load widget_tweaks %}


{% block subcontent %}

{% if not store.is_active %}
<div class="col-md-12 alert alert-warning alert-dismissible fade show margin-bottom-1x">
  <span class="alert-close" data-dismiss="alert"></span>
  <h3>Hola, {{ user.first_name }}</h3>
  <p>Tu tienda aun no ha sido activada <br></p>
</div>
{% endif %}
<div class="col-md-12">
      <form class="col-md-12" method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label class="col-2 col-form-label" for="{{ form.nam.id_label_for }}">Nombre:</label>
        <div class="col-10">
          {% render_field form.name class="form-control col-10" placeholder="Nombre" required="True"%}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label" for="text-input">Descripcion</label>
        <div class="col-10">
          {% render_field form.description class="form-control col-10" placeholder="Descripcion" required="True"%}
        </div>
      </div>
      <div class="col-12 text-center text-sm-right">
        <button class="btn btn-success margin-bottom-none" type="submit">Guardar</button>
      </div>
    </form>

  </div>




  <div class="">
    {% for error in errors %}
      {{error}}
    {% endfor %}
  </div>
{% endblock subcontent %}
