{% load static%}
{% load humanize %}

<!-- Listado de productos-->
{% for  product in products %}
<div class="product-card product-list" style="margin-bottom: 10px;"><a class="product-thumb"
  href="{% url 'product_detail_admin' product.id %}">
    <div class="rating-stars">
      <i class="icon-star filled"></i>
      <i class="icon-star filled"></i>
      <i class="icon-star filled"></i>
      <i class="icon-star filled"></i>
      <i class="icon-star filled"></i>
    </div>
    <img src="{{ product.main_img.url}}" alt="Product"></a>
    <div class="product-info">
      <h3 class="product-title"><a href="{% url 'product_detail_admin' product.id %}">{{ product.name }}</a></h3>
      <h4 class="product-price">Desde <strong>$ {{ product.min_price | intcomma }}</strong> COP</h4>
      <p class="hidden-xs-down">{{ product.description }}</p>
      <div class="product-buttons">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'product_detail_admin' product.id %}">Ver producto</a>
      </div>
    </div>
  </div>
  {% empty %}
    <div class="col-md-12 alert alert-primary alert-dismissible fade show margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <h3>Aun no tienes productos</h3>
      <p>Empieza a vender creando nuevos productos<br></p>
    </div>
  {% endfor %}
<!-- Fin Productos-->
