{% extends "../panel/admin_store.html" %}

{% block subcontent %}
  <h2>Almacen</h2>
  <table class="table" style="margin-top: 10px">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Presentacion</th>
        <th scope="col">Existencias</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks  %}
        <tr>
          <td><h4>{{ stock.product_detail.product.name }}</h4></td>
          <td><h4>{{ stock.product_detail.description }}</h4></td>
          <td><h4>{{ stock.quantity }}</h4></td>
          <td><h5><a href="#">Editar</a></h5></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}
