{% extends "./admin_store.html" %}
{% load widget_tweaks %}


{% block subcontent %}
  <form class="col-md-12" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <legend>Imagenes de la Tienda</legend>
    <div class="form-group">
      <label for="">Logo de la tienda</label>
      {% render_field form.logo class="form-control" %}
    </div>

    <div class="form-group">
      <label for="">Portada de la tineda</label>
      {% render_field form.cover_img class="form-control" %}
    </div>

    <div class="form group">
      <button type="submit" class="btn btn-success" name="button">Guardar</button>
      <a href="{% url 'panel_store' %}" class="btn btn-danger">Cancelar</a>
    </div>


  </form>

{% endblock %}
