{% extends 'base.html' %}

{% block title %} Vendedores {% endblock title%}

{% block content %}
{% if user.is_authenticated %}
  {% if user.is_vendor %}
    <h2>Ya eres vendedor</h2>

  {% else %}
  <h2>Aun no vendes</h2>
  {% endif %}
{% endif %}
{% endblock content %}
