{% extends "home/base.html" %}
{% load static %}{% load blogtag %}
{% load humanize %}
{% block content %}
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Blog</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="{% url 'home_compradores' %}">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-1">
        <div class="row">
          <!-- Blog Posts-->
          <div class="col-xl-9 col-lg-8">
            {% for post in posts  %} 
            <br>         
            <!-- Post-->
            <article class="row">
              <div class="col-md-3">
                <ul class="post-meta">
                  <li><i class="icon-clock"></i><a href="blog-single-rs.html">&nbsp;{{post.created|date:"d M Y"}}</a></li>
                  <li><i class="icon-head"></i>&nbsp;{{post.user}}</li>
                  <li><i class="icon-tag"></i>
                    {% for categoria in post.categoria.all %}
                      {% if post.categoria.count == 1 %}
                          <a href="{% url 'filtro_categoria' categoria.slug %}">&nbsp;{{categoria.nombre}}</a>
                      {% elif forloop.first %}
                          <a href="{% url 'filtro_categoria' categoria.slug %}">&nbsp;{{categoria.nombre}},</a>
                      {% elif forloop.last %}
                      <a href="{% url 'filtro_categoria' categoria.slug %}">&nbsp;{{categoria.nombre}}</a>
                      {% endif %}
                      
                    {% endfor %}
                  </li>
                  <li><i class="icon-speech-bubble"></i><a href="#">&nbsp;0 Comments</a></li>
                </ul>
              </div>              
              <div class="col-md-9 blog-post">
                <h3 class="post-title text-center"><a href="{% url 'single_post' post.slug %}">{{post.titulo|upper}}</a></h3>
                <a class="post-thumb" href="{% url 'single_post' post.slug %}"><img class="img img-responsive" src="{{post.imagen.url}}" alt="Post"></a>                
                <p>{{post.description|safe|truncatewords:"50"}} <a href='{% url 'single_post' post.slug %}' class='text-medium'>Leer más...</a></p>
              </div>
            </article>
            <!-- Post-->
            <hr>
            {% endfor %}
            
            <!-- Pagination-->
            <nav class="pagination">
              {% if posts.has_previous %}    
              <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="?page={{ posts.previous_page_number }}"><i class="icon-arrow-left"></i> Anterior&nbsp;</a></div>
              {% endif %}
              <div class="column text-center">
                <ul class="pages">
                  <li>Página</li>  
                  <li></li>
                  <li class="active"><a href="#">{{ posts.number }}</a></li>  
                  <li>de</li>               
                  <li><a href="#">{{ posts.paginator.num_pages }}</a></li>
                </ul>
              </div>
              {% if posts.has_next %}
              <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="?page={{ posts.next_page_number }}">Siguiente&nbsp;<i class="icon-arrow-right"></i></a></div>
              {% endif %}
            </nav>
          </div>
          <!-- Sidebar          -->
          <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
              <div class="padding-top-2x hidden-lg-up"></div>
              <!-- Widget Search-->
              <section class="widget">
                <form class="input-group form-group" method="GET" action="/blog/busqueda/">
                  <span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button>
                  </span>
                  <input class="form-control" name="busqueda" type="search" placeholder="Buscar por palabras clave">
                </form>
              </section>
              <!-- Widget Categories-->
              <section class="widget widget-categories">
                <h3 class="widget-title">Categorías</h3>
                <ul>
                  {% for categoria in categories  %}
                  <li><a href="{% url 'filtro_categoria' categoria.slug %}">{{categoria.nombre}}</a><span>({{categoria.post_set|get_count_posts}})</span></li>                    
                  {% endfor %}                                    
                </ul>
              </section>
            </aside>
          </div>
        </div>
      </div>
{% endblock %}