{% extends "home/base.html" %}
{% load static %}{% load blogtag %}
{% load humanize %}
{% block content %}
<div class="page-title">
  <div class="container">
    <div class="column">
      <h1>{{post.titulo|upper}}</h1>
    </div>
    <div class="column">
      <ul class="breadcrumbs">
        <li><a href="{% url 'home_compradores' %}">Inicio</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li><a href="{% url 'home_blog' %}">Blog</a>
        </li>
        <li class="separator">&nbsp;</li>
        <li>{{post.slug}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
  <div class="row justify-content-center">
    <!-- Content-->
    <div class="col-lg-10">
      <!-- Post-->
      <div class="single-post-meta">
        <div class="column">
          <div class="meta-link">Creado <span>por</span> {{post.user}}</div>
          <div class="meta-link"><span>en</span>
            {% for categoria in post.categoria.all  %}
            <a href="{% url 'filtro_categoria' categoria.slug %}">{{categoria.nombre}},</a>              
            {% endfor %}
            
            
          </div>
        </div>
        <div class="column">
          <div class="meta-link"><a href="#"><i class="icon-clock"></i>{{post.created|date:"d M Y"}}</a></div>
          <div class="meta-link"><a class="scroll-to" href="#comments"><i class="icon-speech-bubble"></i>3</a></div>
        </div>
      </div>
      
        <figure><img src="{{post.imagen.url}}" alt="Image">
        </figure>
       
      {{post.description|safe}}
      <div class="single-post-footer">

        <div class="column">
          <div class="entry-share"><span class="text-muted">Share post:</span>
            <div class="share-links"><a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a></div>
          </div>
        </div>
      </div>

      <!-- Relevant Posts-->
      <h3 class="padding-top-3x padding-bottom-1x">También le podría gustar...</h3>
      <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoHeight&quot;: false, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
        
          {% for post in  list_posts %}
            <div class="widget widget-featured-posts">
              <div class="entry text-center">
                <a href="{% url 'single_post' post.slug %}"><img src="{{post.imagen.url}}" alt="Post" class="img img-responsive" width="100"></a>             
                  <h4 class="entry-title"><a href="{% url 'single_post' post.slug %}">{{post.titulo}}</a></h4><span class="entry-meta">por {{post.user}}</span>
              </div>
            </div>
          {% endfor %}
         
        
      </div>
      <!-- Comment Form--> 
      <h4 class="padding-top-2x padding-bottom-1x">Déjanos un comentario</h4>
      <form class="row" method="POST" id="form_comment">{% csrf_token %}
        <div class="col-sm-6">
          <div class="form-group">
            <label for="comment-name">Nombre</label>
            <input class="form-control form-control-rounded" name="user" type="text" id="user" placeholder="John Doe" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="comment-email">E-mail</label>
            <input class="form-control form-control-rounded" name="email" type="email" id="email" placeholder="johndoe@email.com" required>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="comment-text">Comentario</label>
            <textarea class="form-control form-control-rounded" name="comment" rows="7" id="comment" placeholder="Escribe tu comentario aquí..." required></textarea>
          </div>
        </div>
        <div class="col-12 text-right">
          <button class="btn btn-pill btn-primary" type="submit" id="btn_comment">Enviar</button>
        </div>
      </form>      
      <!-- Comments-->
      <section class="padding-top-3x" id="comments">
        <h3 class="padding-bottom-1x">Comentarios</h3>
        {% for comment in comments  %}       
        <!-- Comment-->
        <div class="comment">          
          <div class="comment-body">
            <div class="comment-header">
              <h4 class="comment-title">{{comment.user}}</h4>
            </div>
            <p class="comment-text">{{comment.description}}</p>
            <div class="comment-footer">
              <div class="column"><span class="comment-meta">{{comment.created}}</span></div>      
            </div>
          </div>
        </div>
        {% endfor %}
        
      </section>
      
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
$('#btn_comment').click(function(event){
  event.preventDefault(); 
    
  var user = $("#user").val();
  var email = $("#email").val();
  var comment = $("#comment").val();

  if (user=="" || email =="" || comment ==""){
    alert("Formulario invalido, Todos los campos son requeridos!");
  }else{  
    document.getElementById('btn_comment').disabled = true;
    $('#form_comment').trigger("reset");
      $.ajax({
               type: "POST",
               url: "{% url 'post_comment' %}",
               data: {'user' : user,
                'email': email,
                'comment':comment,
                'slug': '{{post.slug}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
               },
               dataType: "json", 
               success: function(response) {
                alert(response.message);   
                location.reload();                
                },
                error: function(rs) {
                  alert(rs.responseText); 
                  location.reload();
                }
          }); 
  }
 
    })
</script>
{% endblock %}