{% extends "../panel/admin_store.html" %}

{% load widget_tweaks %}

{% block subcontent %}

    <h2 style="align-text: center">Creacion de producto</h2>
    <div class="col-md-10 offset-md-1">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home1" data-toggle="tab" role="tab" aria-selected="false" id="first">Informacion</a></li>
        <li class="nav-item disabled"><a class="nav-link" href="#presentaciones" role="tab" aria-selected="true" id="second">Presentaciones</a></li>
        <li class="nav-item disabled"><a class="nav-link" href="#publicar" role="tab" aria-selected="true" id="third">Publicar</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane fade active show" id="home1" role="tabpanel">
          <form class="" method="post" enctype="multipart/form-data" id="form">
            <div id="first">
            <div class="form-group">
              <label for="{{ form_product.name.id_for_label }}">Titulo del producto</label>
              {% render_field form_product.name class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{ form_product.description.id_for_label }}">Descripcion del producto</label>
              {% render_field form_product.description class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{ form_product.sku.id_for_label }}">SKU del producto</label>
              {% render_field form_product.sku class="form-control" %}
            </div>

            <div class="custom-file">
                  {% render_field form_product.main_img %}
            </div>
            <div class="form-group">
              <label for="{{ form_product.description.id_for_label }}">Codigo Video del producto YouTube</label>
              {% render_field form_product.main_video_youtube_code class="form-control" %}
            </div>
          </div>
          <div class="float-right">
              <a href="{% url 'my_products' %}" class="btn btn-danger" name="btnStepOne">Cancelar</a>
              <button type="button" class="btn btn-success" id="btnStepOne">Siguiente</button>
          </div>
        </div>
        <div class="tab-pane fade" id="presentaciones" role="tabpanel">
            <div id="main_presentaciones">
              <div id="presentaciones_0">
                <div class="form-group">
                  <textarea name="description_pr" rows="10" placeholder="Descripcion" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input name="price" type="number" step="0.01" min="0" placeholder="$$$$$" class="form-control">
                </div>

                <div class="form-group">
                  <input name="quantity" type="number" min="0" placeholder="Existencias" class="form-control">
                </div>
              </div>
            </div>
            <a href="#home1" class="btn btn-danger previous" name="btnStepOne">Volver</a>
            <a href="#home1" class="btn btn-primary" id="addOther">Agregar otra Presentacion</a>
            <button type="button" class="btn btn-success" id="btnStepTwo">Siguiente</button>
          </div>

        <div class="tab-pane fade" id="publicar" role="tabpanel">

           {% csrf_token %}
           <p>Publicar producto</p>
           <button type="submit" class="btn btn-success" id="btnPub">Publicar</button>

        </div>

        </div>
        </form>
      </div>
    </div>

      {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger text-center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

      <script type="text/javascript">
      var step = 1;
      function siguiente(opc){
        switch (opc) {
          case (1):
              $("#home1").tab("show");
            break;
          case (2):
                $("#addOther").trigger("click");
                $("#second").attr("data-toggle", "tab");
                $("#second").tab("show");
              break;
          case (3):
                $("#third").attr("data-toggle", "tab");
                $("#third").tab("show");
              break;
          default:
            alert("Opcion invalida")

        }
      }

      $("#btnStepOne").click(function(){
        var good = true;
        $("#first input").each(function(){
          if (this.value == ""){
            alert("Por favor llene todos los campos!")
            good = false;
            return false;
          }
        });

        if(good){
          step+=1;
          siguiente(step);
        }
      });
      count = 0;
      var actualDiv = "presentaciones_"+count;

      $("#btnStepTwo").click(function(){
        var good = true;
        $("#"+actualDiv+" input").each(function(){
          if(this.value == ""){
            alert("Por favor llene todos los campos")
            good = false;
            return false;
          }
        });

        if(good){
          $("#"+actualDiv).hide()
          step+=1;
          siguiente(step);
        }
      });

      $("#addOther").click(function(){
        var good = true;
        var aux = 0;
          $("#"+actualDiv+" input").each(function(){
            if(this.value == ""){
              alert("Por favor llene todos los campos")
              good = false;
              return false;
            }
          });

        if(good){
          $("#presentaciones_"+count).hide();
          count++;
          addNewPresentacion();

        }
      });

      function addNewPresentacion(){
        var container = document.getElementById("main_presentaciones");
        var divContainer = document.createElement("div");


        var divContainerDescription= document.createElement("div");
        var divContainerPrice= document.createElement("div");
        var divContainerQuantity= document.createElement("div");
        var inputDescription = document.createElement("textarea");
        var inputPrice = document.createElement("input");
        var inputStock = document.createElement("input");

        var reference = document.getElementById("reference");

        divContainer.setAttribute("id","presentaciones_"+count);


        divContainerDescription.setAttribute("class", "form-group");
        divContainerPrice.setAttribute("class", "form-group");
        divContainerQuantity.setAttribute("class", "form-group");

        inputDescription.setAttribute('name', "description_pr");
        inputDescription.setAttribute("class", "form-control");
        inputDescription.setAttribute("rows", "10");
        inputDescription.setAttribute("id", "description_"+count);
        inputDescription.setAttribute("required", "true");
        inputDescription.setAttribute("placeholder", "Descripcion para esta presentacion");

        inputPrice.type = "number";
        inputPrice.setAttribute('name', "price");
        inputPrice.setAttribute("class", "form-control");
        inputPrice.setAttribute("placeholder", "Precio para esta presentacion");
        inputDescription.setAttribute("id", "price_"+count);
        inputPrice.setAttribute("step", "0.01");
        inputPrice.setAttribute("min", "0");

        inputStock.type = "number";
        inputStock.setAttribute('name', "quantity");
        inputStock.setAttribute("class", "form-control");
        inputDescription.setAttribute("id", "quantity_"+count);
        inputStock.setAttribute("placeholder", "Existencias para esta presentacion");
        inputStock.setAttribute("min", "0");


        divContainerDescription.appendChild(inputDescription);

        divContainerPrice.appendChild(inputPrice);

        divContainerQuantity.appendChild(inputStock);


        divContainer.appendChild(divContainerDescription);
        divContainer.appendChild(divContainerPrice);
        divContainer.appendChild(divContainerQuantity);

        container.appendChild(divContainer)
      }

      var form = document.getElementById("form");
      form.addEventListener("submit", function(){
        var presentaciones = document.getElementById("main_presentaciones");
        form.appendChild(presentaciones);
      });





      </script>

{% endblock %}
