{% extends "../panel/admin_store.html" %}
{% load widget_tweaks %}


{% block subcontent %}
    <div class="col-md-8 offset-md-1">
      <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <label for="{{ form.name.id_for_label}}">Nombre del producto</label>
          {% render_field form.name class="form-control" placeholder="Producto Bio" %}
        </div>
        <div class="form-group row">
          <label for="{{ form.description.id_for_label}}">Descripcion del Producto</label>
          {% render_field form.description class="form-control" placeholder="Escribe una pequeña descripcion del Bio producto" %}
        </div>
        <div class="form-group row">
          <label for="{{ form.sku.id_for_label}}">SKU del Producto</label>
          {% render_field form.sku class="form-control" placeholder="1234545" %}
        </div>
        <div class="form-group row">
          <label for="{{ form.main_img.id_for_label}}">Imagen principal del producto</label>
          {% render_field form.main_img class="form-control"%}
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-success">Crear Producto</button>
            <span></span>
            <button id="btn-cancel" onclick="window.history.go(-1)" class="btn btn-danger">Volver</button>
        </div>



      </form>
    </div>


{% endblock subcontent %}
