{% extends '../panel/admin_store.html' %}
{% load humanize %}
{% block subcontent %}
<div class="col-md-12">
  <div class="form-group">
    <a href="{% url 'create_product' %}" class="btn btn-success" name="button">Crear Producto</a>
    <a href="{% url 'panel_store' %}" class="btn btn-warning" name="button">Ir a mi tienda</a>
  </div>
</div>
{% include "../panel/product_list.html" %}
{% endblock %}
