{% extends '../panel/admin_store.html' %}
{% load humanize %}
{% block subcontent %}
{% load static %}
{% load widget_tweaks %}


<div class="col-md-12">

  <div class="row">
    <div class="col-md-12">
      <h3>Producto: <strong>{{ product.name }}</strong></h3>
      <h5>Presentaciones: <strong>{{ product.details.all | length }}</strong> | Desde: <strong>$ {{ product.min_price }} COP</strong></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
        <a href="{% url 'my_products' %}" class="btn btn-warning btn-sm float-right">Volver a Productos</a>
        <button class="btn btn-success btn-sm float-right" type="button" id="show-modal" >Crear Presentacion</button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8" style="margin-top: 0.5em;">
      <table class="table" style="margin-top: 10px">
        <thead>
          <tr>
            <th scope="col">Presentacion</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
      {% for detail in product.details.all  %}
        <tr>
          <td>{{ detail.description }}</td>
          <td>{{ detail.stocks.quantity }}</h4></td>
          <td>$ {{ detail.price }}</td>
          <td><h5><a href="{% url 'update_product_detail' detail.id %}">Editar</a></h5></td>
        </tr>
      {% endfor %}
    </table>
    </div>
    <div class="col-md-4" style="margin-top:4em">
      <img src="{{ product.main_img.url}}" class="rounded responsive" alt="...">
    </div>

  </div>


      <!-- Modal Create new ProductDetail -->
      <!-- Button trigger modal -->

      <!-- Modal -->

      <!-- Fin Modal Create new ProductDetail -->

</div>

<div class="modal fade" id="modal-add-detail" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Presentacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          <div class="form-group">
              <label for=""></label>
              <input type="text" name="" value="" class="form-control">
          </div>

          <div class="form-group">
              <label for=""></label>
              <input type="text" name="" value="" class="form-control">
          </div>

          <div class="form-group">
              <label for=""></label>
              <input type="text" name="" value="" class="form-control">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success btn-sm">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $("#show-modal").click(function(){
    $("#modal-add-detail").appendTo("body");
    $("#modal-add-detail").modal("show");
  });
</script>



{% endblock %}
