{% extends "../panel/admin_store.html" %}
{% load widget_tweaks %}
{% load static %}


{% block subcontent %}
{% comment %}
<div class="row">
  <div class="col-sm-4">
    <img class="d-block mx-auto mb-3" src="{% static 'home/img/components/img07.jpg' %}" alt="Image">
  </div>
  <div class="col-sm-4">
    <img class="d-block mx-auto rounded mb-3" src="{% static 'home/img/components/img09.jpg' %}" alt="Image">
  </div>
  <div class="col-sm-4">
    <img class="d-block mx-auto rounded mb-3" src="{% static 'home/img/components/img08.jpg' %}" alt="Image">
  </div>
</div>
{% endcomment %}
<h2>Actualizar Stock</h2><br>
<table class="table" style="margin-top: 10px">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Existencias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h3>{{ product.name }}</h3></td>
      <td><h3>{{ stock.quantity }}</h3></td>
    </tr>
  </tbody>
</table>
<div class="col-md-10 offset-md-1">
  <form class="row" method="post">
      {% csrf_token %}
      <div class="col-md-2" style="margin-top: 10px">
        <label for="{{ form.quantity.id_for_label }}"><strong>Existencias</strong></label>
      </div>
      <div class="col-md-7">
          {% render_field form.quantity class="form-control" required=True %}
      </div>
      <div class="col-md-3" style="margin-top: -6px">
        <button type="submit" class="btn btn-success" name="button">Actualizar</button>
      </div>

  </form>
  </div>
{% endblock %}
