{% extends "../panel/admin_store.html" %}

{% load widget_tweaks %}

{% block subcontent %}
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <h3>Actualizar Presentacion</h3>
      <h4>Producto: <strong>{{ detail.product.name }}</strong></h4>
      <h5>Presentacion: <strong>{{ detail.description }}</strong></h5>
    </div>

    <div class="col-md-10 offset-md-1" style="margin-top:2em;">
      <form class="form" method="post">
        {% csrf_token %}
        {{ form_detail.as_p }}
        {{ form_stock.as_p }}

        <button type="submit" class="btn btn-success btn-sm" name="button">Actualizar</button>
        <a href="{% url 'product_detail_admin' detail.product.id %}" class="btn btn-danger btn-sm" name="button">Cancelar</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
