<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BioCompras.com | Eco Market Place</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static "landing/vendor/bootstrap/css/bootstrap.min.css" %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static "landing/vendor/font-awesome/css/font-awesome.min.css" %}">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="{% static "landing/css/landy-iconfont.css" %}">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
    <!-- owl carousel--> 
    <link rel="stylesheet" href="{% static "landing/vendor/owl.carousel/assets/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "landing/vendor/owl.carousel/assets/owl.theme.default.css" %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static "landing/css/style.default.css" %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static "landing/css/custom.css" %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static "landing/favicon.png" %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top"><a href="index.html" class="navbar-brand">BioCompras</a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
            <li class="nav-item"><a href="#about-us" class="nav-link link-scroll">Acerca</a></li>
            <li class="nav-item"><a href="#features" class="nav-link link-scroll">Cómo funciona</a></li>
            <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Categorías</a></li>
            <li class="nav-item"><a href="text.html" class="nav-link">Contactos</a></li>
          </ul>
          <div class="navbar-text">   
            <!-- Button trigger modal--><a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary navbar-btn">Regístrate</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Modal-->
    <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">Registro para vendedores</h5>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <form id="signupform" action="#">
              <div class="form-group">
                <label for="fullname">Nombre completo</label>
                <input type="text" name="fullname" placeholder="Full Name" id="fullname">
              </div>
              <div class="form-group">
                <label for="username">Nombre del comercio</label>
                <input type="text" name="storename" placeholder="storename" id="storename">
              </div>
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" name="email" placeholder="Email Address" id="email">
              </div>
              <div class="form-group">
                <label for="email">Número de teléfono de contacto</label>
                <input type="phone" name="phone" placeholder="Ingrese su número de teléfono" id="phone">
              </div>
              <div class="form-group">
                <label for="email">Ciudad</label>
                <input type="text" name="city" placeholder="Ingrese el nombre de su ciudad" id="city">
              </div>
              <div class="form-group">
                <button type="submit" class="submit btn btn-primary">Signup</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <section id="hero" class="hero hero-home bg-gray">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-6 text order-2 order-lg-1 sect-center">
            <h2>Bienvenid@ a BioCompras</h2>
            <p class="hero-text">Compra o vende productos eco-amigables en un sólo lugar: Desde alimentos hasta vehículos ambientalmente sostenibles.</p>
            <div class="CTA"><a href="#features" class="btn btn-primary link-scroll">Saber más</a><a href="#" class="btn btn-outline-primary">Registrarse ahora</a></div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2"><img src="{% static "landing/img/Macbook.png" %}" alt="..." class="img-fluid"></div>
        </div>
      </div>
    </section>
  
    <section id="about-us" class="about-us">
      <div class="container">
        <h2>ACERCA DE BIOCOMPRAS</h2>
        <div class="row">
          <p class="lead col-lg-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga pariatur recusandae porro vitae tempora repellat itaque ducimus labore velit, eveniet eius assumenda minus, provident quidem eaque quod non sequi iusto.. </p>
        </div><a href="#" class="btn btn-primary">Saber más</a>
      </div>
    </section>

    <section id="browser" class="browser bg-gray">
      <div class="container">
        <div class="row d-flex justify-content-center"> 
          <div class="col-lg-8 text-center">
            <h1 class="h3 mb-5">CÓMO FUNCIONA</h1>
            
          </div>
        </div>
        <h2 class="text-center">Compra</h2>
        <div id="myTab" role="tablist" class="nav nav-tabs">          
          <div class="row">
            <div class="col-md-4"><a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link"> <span class="number">1</span>Elije tus productos y llévalos al carrito de compra</a></div>
            <div class="col-md-4"><a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link"> <span class="number">2</span>Regístrate con tu facebook y realiza el pago de tu compra.</a></div>
            <div class="col-md-4"><a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link"> <span class="number">3</span>Recibe el producto a la puerta de tu casa u oficina.</a></div>
          </div>
        </div>
        <br>
        <h2 class="text-center">Vende</h2>
        <div id="myTab" role="tablist" class="nav nav-tabs">          
          <div class="row">
            <div class="col-md-4"><a id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-expanded="true" class="nav-item nav-link"> <span class="number">1</span>Regístrate y crea tu punto de venta</a></div>
            <div class="col-md-4"><a id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" class="nav-item nav-link"> <span class="number">2</span>Registra todos los productos o servicios que ofreces</a></div>
            <div class="col-md-4"><a id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" class="nav-item nav-link"> <span class="number">3</span>Administra y vende tus productos y/o servicios.</a></div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section id="extra-features" class="extra-features bg-primary">
      <div class="container text-center">
        <header>
          <h2>Categorías de BioCompras</h2>
          <div class="row">
            <p class="lead col-lg-8 mx-auto">Tenemos una amplia gama de categorías.</p>
          </div>
        </header>
        <div class="grid row">
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-diploma"></i></div>
            <h3 class="h5">Bio Alimentos</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-folder-1"></i></div>
            <h3 class="h5">Bio Salud</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-gears"></i></div>
            <h3 class="h5">Bio Ropa y accesorios</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-management"></i></div>
            <h3 class="h5">Bio Servicios profesionales</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-pie-chart"></i></div>
            <h3 class="h5">Bio Construcción</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
          <div class="item col-lg-4 col-md-6">
            <div class="icon"> <i class="icon-quality"></i></div>
            <h3 class="h5">Bio Electrodomésticos, Vehículos y más</h3>
            <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="newsletter" class="newsletter bg-gray">
      <div class="container text-center">
        <h2>Regístrate ya</h2>
        <p class="lead">There are many variation passages of lorem ipsum, but the majority have</p>
        <div class="form-holder">
          <form id="newsletterForm" action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Enter Your Email Address">
              <button type="submit" class="btn btn-primary btn-gradient submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <div id="scrollTop">
      <div class="d-flex align-items-center justify-content-end"><i class="fa fa-long-arrow-up"></i>To Top</div>
    </div>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6"><a href="#" class="brand">Landy</a>
            <ul class="contact-info list-unstyled">
              <li><a href="mailto:sales@landy.com">Sales@Landy.com</a></li>
              <li><a href="tel:123456789">+00 123 456 789</a></li>
            </ul>
            <ul class="social-icons list-inline">
              <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Selected Cases</h5>
            <ul class="links list-unstyled">
              <li> <a href="#">Guess Conntect</a></li>
              <li> <a href="#">Postly</a></li>
              <li> <a href="#">Iris Vor Arnim</a></li>
              <li> <a href="#">Yapital</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Selected Cases</h5>
            <ul class="links list-unstyled">
              <li> <a href="#">Guess Conntect</a></li>
              <li> <a href="#">Postly</a></li>
              <li> <a href="#">Iris Vor Arnim</a></li>
              <li> <a href="#">Yapital</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5>Selected Cases</h5>
            <ul class="links list-unstyled">
              <li> <a href="#">Guess Conntect</a></li>
              <li> <a href="#">Postly</a></li>
              <li> <a href="#">Iris Vor Arnim</a></li>
              <li> <a href="#">Yapital</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <p>&copy; 2017 Landy.com. All rights reserved.                        </p>
            </div>
            <div class="col-md-5 text-right">
              <p>Template By <a href="https://bootstrapious.com/" class="external">Bootstrapious</a>  </p>
              <!-- Please do not remove the backlink to Bootstrapious unless you support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :) -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"> </script>
    <script src="{% static "landing/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "landing/vendor/jquery.cookie/jquery.cookie.js" %}"> </script>
    <script src="{% static "landing/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "landing/js/front.js" %}"></script>
   
  </body>
</html>