{% extends "../stores/stores/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container padding-bottom-3x mb-2" style="margin-top: 4em;">
      <div class="row">
        <div class="col-lg-4">
          <aside class="user-info-wrapper">
            <div class="user-cover" style="background-image: url({% static "home/img/account/user-cover-img.jpg" %});">
              <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
            </div>
            {% if user.is_authenticated %}
            <div class="user-info">
              {% if not user.img_profile %}
                <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="{% static "home/img/account/user-ava.jpg" %}" alt="User"></div>
              {% else %}
              <div class="user-avatar"><a class="edit-avatar" href="#"></a><img src="{{ user.img_profile.url }}" alt="User"></div>
              {% endif %}
              <div class="user-data">

                  <h4>{{ user.first_name }} {{ user.last_name }}</h4><span>Joined February 06, 2017</span>

              </div>
            </div>
            {% endif %}
          </aside>
          <nav class="list-group">
            <a class="list-group-item active" href="account-profile.html">
              <i class="icon-head"></i>Mi Cuenta
            </a>
            <a class="list-group-item with-badge" href="account-orders.html">
              <i class="icon-bag"></i>Ordenes
              <span class="badge badge-primary badge-pill">6</span>
            </a>
            <a class="list-group-item" href="account-address.html">
              <i class="icon-map"></i>Direcciones
            </a>
            <a class="list-group-item with-badge" href="account-wishlist.html">
              <i class="icon-heart"></i>Lista de Deseos
              <span class="badge badge-primary badge-pill">3</span>
            </a>
            <a class="list-group-item with-badge" href="account-tickets.html">
              <i class="icon-tag"></i>Envios
              <span class="badge badge-primary badge-pill">4</span>
            </a>
          </nav>
        </div>
        <div class="col-lg-8">
          <div class="padding-top-2x mt-2 hidden-lg-up"></div>
          <form class="row" id="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Nombres</label>
                {% render_field form.first_name class="form-control" readonly="True" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="account-ln">Apellidos</label>
                {% render_field form.last_name class="form-control" readonly="True" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="account-email">Correo Electronico</label>
                {% render_field form.email class="form-control" readonly="True"%}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="account-phone">Telefono</label>
                {% render_field form.phone class="form-control" readonly="True" %}
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="account-phone">Imagen de Perfil</label>
                {% render_field form.img_profile class="form-control" readonly="True" %}
              </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-primary" id="switch" >Actualizar Perfil</button>
                  <a class="btn btn-warning" href="{% url 'home_compradores' %}" type="submmit">Cancelar</a>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script type="text/javascript">
      var state = 0;
      $("#switch").click(function(event){
        event.preventDefault();
        if(state == 0 ){
          state = 1;
          var flag = -1;
          $("#form :input").each(function(){
            flag++;
            if(flag>0 && flag<7 && flag!=3){
                $(this).removeAttr("readonly");
            }
          });
        }else{
          $("#form").submit();
        }
      });
    </script>
{% endblock %}
