{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block modal %}
{% for producto in cart_items2 %}
<!-- Default Modal-->
    <div class="modal fade" id="Modal-{{producto.id}}" tabindex="-1" role="dialog" style="z-index: 10500 !important;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar ({{producto.quant}}) {{producto.product_detail.product.name}} de Carrito de compras</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>¿Desea realmente eliminar este producto de su carrito de compras ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger eliminar" name="{{producto.id}}">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if cart_items2 %}
  <!-- Default Modal-->
    <div class="modal fade" id="confirm-clean-cart" tabindex="-1" role="dialog" style="z-index: 10500 !important;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Vaciar Carrito de compras</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>¿Desea realmente vaciar su carrito de compras ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="clean-cart-2">Vaciar</button>
          </div>
        </div>
      </div>
    </div>
    
  {% endif %}
    

{% endblock %}
{% block content %}

      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Mi Carrito de compras</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Carrito</li>
            </ul>
          </div>
        </div> 
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-1">
        <!-- Shopping Cart-->
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center"><button class="btn btn-sm btn-outline-danger" id="clean-cart" data-toggle="modal" data-target="#confirm-clean-cart" title="Vaciar Carrito de compras">Vaciar mi carrito</button></th>
              </tr>
            </thead>
            <tbody>
              {% for producto in cart_items2 %}            
              <tr>
                <td>
                  <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="{{producto.product_detail.product.main_img.url}}" alt="Product"></a>
                    <div class="product-info">
                      <h4 class="product-title"><a href="shop-single.html">{{producto.product_detail.product.name}}</a></h4><span><em>{{producto.product_detail.description}}</em></span>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <div class="count-input">
                    <input type="number" name="{{forloop.counter}}" value="{{producto.quant}}" id="{{forloop.counter}}" class="form-control numero">
                  </div>
                </td>
                <td class="text-center text-lg text-medium">$ <span>{{producto.product_detail.price|intcomma}}</span> COP</td><span id="val-{{forloop.counter}}" class="invisible">{{producto.product_detail.price}}</span>
                <td class="text-center text-lg text-medium">$ <span id="total-{{forloop.counter}}">0</span></td>
                <td class="text-center"><button class="remove-from-cart btn" data-toggle="modal" data-target="#Modal-{{producto.id}}" title="Eliminar Producto"><i class="icon-cross"></i></button></td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
        <div class="shopping-cart-footer">
          <div class="column">
            <form class="coupon-form" method="post">
              <input class="form-control form-control-sm" type="text" placeholder="Coupon code" required>
              <button class="btn btn-outline-primary btn-sm" type="submit">Aplicar Cupón</button>
            </form>
          </div>
          <div class="column text-lg">Total: $ <span class="text-medium" id="total-compra"></span></div>
        </div>
        <div class="shopping-cart-footer">
          <div class="column"><a class="btn btn-outline-secondary" href="{% url 'home_compradores' %}"><i class="icon-arrow-left"></i>&nbsp;Seguir comprando</a></div>
          <div class="column"><a class="btn btn-primary" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" data-toast-message="is updated successfully!">Update Cart</a><a class="btn btn-success" href="checkout-address.html">Checkout</a></div>
        </div>
      </div>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>
$(document).ready( function (){
  var total_carrito = 0;
  for(var i=1; i<={{cart_items2.count}}; i++){
      num1 = parseInt($('#'+i).val());
      num2 = parseInt($('#val-'+i).text());
      document.getElementById("total-"+i).innerHTML = ((num1 * num2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " COP");
        total_carrito += num1 * num2;
    }

    document.getElementById("total-compra").innerHTML = (total_carrito.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " COP");

  $('.numero').change(function()
  {
    var total_carrito = 0;
    
    var campo = $('.numero').val();
    
    
    for(var i=1; i<={{cart_items2.count}}; i++){
      num1 = parseInt($('#'+i).val());
      num2 = parseInt($('#val-'+i).text());
      document.getElementById("total-"+i).innerHTML = ((num1 * num2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " COP");
      total_carrito += num1 * num2;
    }

    document.getElementById("total-compra").innerHTML = (total_carrito.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " COP");
    
  });
});
</script>

 <script>
  $('.eliminar').click(function(){

    var id_product = $(this).attr('name');    


    $.ajax({
     type: "POST",
     url: "{% url 'delete_car_item' %}",
     data: {'id_product' : id_product, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
     dataType: "json",
     success: function(response) {                     
      alert(response.message);    
      location.reload();                        
    },
    error: function(rs, e) {
     alert(rs.responseText);
   }
 }); 
  })
  </script>

   <script>
  $('#clean-cart-2').click(function(){

    $.ajax({
     type: "POST",
     url: "{% url 'clean_cart' %}",
     data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
     dataType: "json",
     success: function(response) {                     
      alert(response.message);    
      location.reload();                        
    },
    error: function(rs, e) {
     alert(rs.responseText);
   }
 }); 
  })
  </script>

{% endblock %}