{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Registro de Usuario {% endblock title %}

{% block content %}
        <div class="col-md-6">
          <form class="" action="{% url 'signup' %}" method="post">
            <legend>Registro de Usuario</legend>
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.first_name.id_for_label}}">Nombres:</label>
                {% render_field form.first_name class="form-control" placeholder="John" %}
              </div>
              <div class="form-group">
                <label for="{{ form.last_name.id_for_label}}">Apllidos:</label>
                  {% render_field form.last_name class="form-control" placeholder="Doe" %}
              </div>
              <div class="form-group">
                <label for="{{ form.dni.id_for_label}}">Cedula:</label>
                  {% render_field form.dni class="form-control" placeholder="123456789" %}
              </div>
              <div class="form-group">
                <label for="{{ form.username.id_for_label}}">Alias:</label>
                  {% render_field form.username class="form-control" %}
              </div>
              <div class="form-group">
                <label for="{{ form.password1.id_for_label}}">Contraseña:</label>
                  {% render_field form.password1 class="form-control" %}
              </div>
              <div class="form-group">
                <label for="{{ form.password2.id_for_label}}">Confirmar Contraseña:</label>
                  {% render_field form.password2 class="form-control" %}
              </div>
              <div class="form-group">
                <label for="{{ form.email.id_for_label}}">Correo Electronico:</label>
                  {% render_field form.email class="form-control" placeholder="alguien@lol.com" %}
              </div>
              <div class="form-group">
                <label for="{{ form.phone.id_for_label}}">Telefono:</label>
                  {% render_field form.phone class="form-control" placeholder="123 456 7890 "%}
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success form-control">Registrar</button>
              </div>
          </form>
        </div>
        <div class="col-md-6">
          {% for field in form.visible_fields %}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
              {{ field.id_for_label}}
            {% endfor %}
          {% endfor %}

        </div>
{% endblock content %}
