{% extends "home/base.html" %}
{% load static %}{% load widget_tweaks %}
{% load humanize %}
{% block content %}


      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Iniciar Sesión / Registrar cuenta</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Inicio</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a href="account-orders.html">Cuenta</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Inicio de sesión / Registrarse</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <div class="col-md-6">
            <form class="login-box" method="POST">{% csrf_token %}
              <div class="row margin-bottom-1x">
                <div class="col-xl-12 col-md-6 col-sm-4 text-center"><a class="btn btn-lg facebook-btn" href="{% url 'social:begin' 'facebook' %}"><i class="socicon-facebook"></i>&nbsp;Iniciar Sesión con Facebook</a></div>
              </div>
              <h4 class="margin-bottom-1x text-center">O usa el formulario a continuación</h4>
              <br>
              {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger text-center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
            <br>
              <div class="form-group input-group">

                {% render_field form.email class="form-control" placeholder="alguien@lol.com" id="email_login" %}<span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <div class="form-group input-group">
                {% render_field form.password class="form-control" placeholder="Contraseña" id="password" %}
                <span class="input-group-addon"><i class="icon-lock"></i></span>
              </div>
              <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" checked><span class="custom-control-indicator"></span><span class="custom-control-description">Recuerda me</span>
                </label><a class="navi-link" href="account-password-recovery.html">¿Olvidaste tu contraseña?</a>
              </div>
              <div class="text-center text-sm-right">
                <button class="btn btn-primary margin-bottom-none" id="boton-login" type="submit">Entrar</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x text-center">¿No Tienes cuenta en biocompras.com? Regístrate</h3>
            <br>
              {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger text-center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
            <br>
            <p class="text-center">El registro no tarda más de 1 minuto pero te da completo control de tus compras o ventas</p>
            <form class="row" method="post">
                {% csrf_token %}
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.first_name.id_for_label }}">Nombres</label>
                  {% render_field register_form.first_name class="form-control" required=True %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.last_name.id_for_label }}">Apellidos</label>
                  {% render_field register_form.last_name class="form-control" required=True %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.email.id_for_label }}">Direccion de Correo Elctronico</label>
                  {% render_field register_form.email class="form-control" required=True %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.phone.id_for_label }}">Número de teléfono de contácto</label>
                  {% render_field register_form.phone class="form-control" required=True %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.password1.id_for_label }}">Contraseña</label>
                  {% render_field register_form.password1 class="form-control" required=True %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ register_form.password2.id_for_label }}">Confirmar Contraseña</label>
                  {% render_field register_form.password2 class="form-control" required=True %}
                </div>
              </div>
              <div class="col-12 text-center text-sm-right">
                <button class="btn btn-primary margin-bottom-none" type="submit">Registro</button>
              </div>
            </form>
          </div>
        </div>
      </div>
     
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="{% static "home/js/vendor.min.js" %}"></script>
    <script src="{% static "home/js/scripts.min.js" %}"></script>
    <script type="text/javascript">
            $('#boton-login').click(function(event){
             event.preventDefault(); 
             alert("Hola");


                var email = document.getElementById('email_login').value;
                var password = document.getElementById('password').value;

                $.ajax({                  
                  type: 'POST',
                  url: "{% url 'login_ajax' %}",
                  data: {'email':email, 'password':password, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
                  dataType: 'json',

                  success: function(errors){
                    if(typeof errors.email !== "undefined"){
                      $('#alert-login').html(errors.email);
                      $('#modal-login').modal({backdrop: 'static', keyboard: false})  
                    $('#modal-login').modal('show');
                    }else{
                      window.location.href="{% url 'home' %}";
                    }

                    
                  },
                  error: function(errors) {
                      alert(errors.responseText);
                  },
                });

              });

             $('.btn-cerrar-modal').click(function(){
              window.location.href="{% url 'home' %}";
             });
            </script>
{% endblock %}
