<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hola {{ name }}, te hemos enviado un correo de confirmacion a la siguiente direccion de correo <br>
    <strong> {{ email }}</strong> <br>
    Si no ves el correo en tu bandeja de entrada verifica en tu carpeta de Spam.

    Biocompras.com    
  </body>
</html>
