{% extends "./base.html" %}


{% block content %}
<div class="container" style="margin-top: 3em;">
  <div class="row" style="background-color: #FCFFF5;">
    <div class="col-md-6 offset-md-4">
      <h2 class="center">Para empezar selecciona un plan</h2>
    </div>
      <div class="col-xs-12 col-md-4" style="margin: 3em 0;">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      Plus</h3>
              </div>
              <div class="panel-body">
                  <div class="the-price">
                      <h1>
                          $10<span class="subscript">/mo</span></h1>
                      <small>1 month FREE trial</small>
                  </div>
                  <table class="table">
                      <tr>
                          <td>
                              1 Account
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              1 Project
                          </td>
                      </tr>
                      <tr>
                          <td>
                              100K API Access
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              100MB Storage
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Custom Cloud Services
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              Weekly Reports
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="panel-footer">
                  <a href="{% url 'activate_plan' 3 %}" class="btn btn-success" role="button">Sign Up</a>
                  1 month FREE trial</div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4" style="margin-top: 3em;">
          <div class="panel panel-success">
              <div class="cnrflash">
                  <div class="cnrflash-inner">
                      <span class="cnrflash-label">MOST
                          <br>
                          POPULR</span>
                  </div>
              </div>
              <div class="panel-heading">
                  <h3 class="panel-title">
                      Recomendado</h3>
              </div>
              <div class="panel-body">
                  <div class="the-price">
                      <h1>
                          $20<span class="subscript">/mo</span></h1>
                      <small>1 month FREE trial</small>
                  </div>
                  <table class="table">
                      <tr>
                          <td>
                              2 Account
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              5 Project
                          </td>
                      </tr>
                      <tr>
                          <td>
                              100K API Access
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              200MB Storage
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Custom Cloud Services
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              Weekly Reports
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="panel-footer">
                  <a href="{% url 'activate_plan' 2 %}" class="btn btn-success" role="button">Sign Up</a>
                  1 month FREE trial</div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4" style="margin-top: 3em;">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      Destacado</h3>
              </div>
              <div class="panel-body">
                  <div class="the-price">
                      <h1>
                          $35<span class="subscript">/mo</span></h1>
                      <small>1 month FREE trial</small>
                  </div>
                  <table class="table">
                      <tr>
                          <td>
                              5 Account
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              20 Project
                          </td>
                      </tr>
                      <tr>
                          <td>
                              300K API Access
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              500MB Storage
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Custom Cloud Services
                          </td>
                      </tr>
                      <tr class="active">
                          <td>
                              Weekly Reports
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="panel-footer">
                  <a href="{% url 'activate_plan' 1 %}" class="btn btn-success" role="button">Sign Up</a> 1 month FREE trial</div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
